<header>
	<h1 class="text-center">My Account</h1>
	<p class="text-center">Manage your BoatDay Profile and Account information . . .</p>
	<div class="text-center steps">
		<a href="#/dashboard" class="btn btn-default btn-lg">Back to Host Center</a>
	</div>
</header>

<form class="form-horizontal">
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				<h4 class="text-center">Host Registration</h4>
			</div>
			<div class="col-sm-offset-1 col-sm-10 col-md-8 col-lg-7">
				<div class="form-group">
					<label class="col-sm-24 control-label">Status</label>
					<div class="col-sm-24">
						<% if( _host.status == 'complete' ) { %>
							<strong class="alert-warning">Pending Validation</strong>
						<% } %>

						<% if( _host.status == 'approved' ) { %>
							<strong>Approved</strong>
						<% } %>

						<% if( _host.status == 'denied' ) { %>
							<strong>Denied</strong>
						<% } %>
					</div>
				</div>
				<% if( _host.validationText ) { %>
					<div class="form-group">
						<label class="col-sm-24 control-label">Decision</label>
						<div class="col-sm-24">
							<%= _host.validationText %>
						</div>
					</div>
				<% } %>
			</div>
		</div>
		
		<div class="split col-lg-16 col-lg-offset-4"></div>

		<div class="row">
			<div class="col-sm-10">
				<h4 class="text-center">My BoatDay Profile</h4>
			</div>
			<div class="col-sm-offset-1 col-sm-10 col-md-8 col-lg-7">
				<div class="picturePreview">
					<div class="picture" style="background-image:url(<%= _profile.profilePicture.url%>)"></div>
				</div>
				<p class="username text-center"><%= _profile.displayName %></p>
				<p class="about text-center"><%= _profile.about %></p>
				<a href="#/my-profile" class="btn btn-default btn-lg btn-block">Edit Profile</a>
			</div>
		</div>
		
		<div class="split col-lg-16 col-lg-offset-4"></div>

		<div class="row">
			<div class="col-sm-10">
				<h4>My Certifications</h4>
			</div>
			<div class="col-sm-offset-1 col-sm-10 col-md-8 col-lg-7">
				<div class="form-group">
					<label class="col-sm-24 control-label">Boater Safety Course</label>
					<div class="col-sm-24">
						<strong><%= this.getCertStatus(_host.certStatusBSC) %></strong>
						<% if( _host.certBSC ) { %>
							- <a href="<%= _host.certBSC.url %>" target="_blank">Licence preview</a>
						<% } %>
					</div>
					<% if( _host.certResponseBSC ) { %>
						<label class="col-sm-24 control-label">Comment</label>
						<div class="col-sm-24">
							<p><%= _host.certResponseBSC %></p>
						</div>
					<% } %>
				</div>
				<div class="form-group">
					<label class="col-sm-24 control-label">Charterboat Captain <em>("6 Pack")</em></label>
					<div class="col-sm-24">
						<strong><%= this.getCertStatus(_host.certStatusCCL) %></strong>
						<% if( _host.certCCL ) { %>
							- <a href="<%= _host.certCCL.url %>" target="_blank">Licence preview</a>
						<% } %>
					</div>
					<% if( _host.certResponseCCL ) { %>
						<label class="col-sm-24 control-label">Comment</label>
						<div class="col-sm-24">
							<p><%= _host.certResponseCCL %></p>
						</div>
					<% } %>
				</div>
				<div class="form-group">
					<label class="col-sm-24 control-label">Master Captain's License</label>
					<div class="col-sm-24">
						<strong><%= this.getCertStatus(_host.certStatusMCL) %></strong>
						<% if( _host.certMCL ) { %>
							- <a href="<%= _host.certMCL.url %>" target="_blank">Licence preview</a>
						<% } %>
					</div>
					<% if( _host.certResponseMCL ) { %>
						<label class="col-sm-24 control-label">Comment</label>
						<div class="col-sm-24">
							<p><%= _host.certResponseMCL %></p>
						</div>
					<% } %>
				</div>
				<div class="form-group">
					<label class="col-sm-24 control-label">Fishing License</label>
					<div class="col-sm-24">
						<strong><%= this.getCertStatus(_host.certStatusFL) %></strong>
						<% if( _host.certFL ) { %>
							- <a href="<%= _host.certFL.url %>" target="_blank">Licence preview</a>
						<% } %>
					</div>
					<% if( _host.certResponseFL ) { %>
						<label class="col-sm-24 control-label">Comment</label>
						<div class="col-sm-24">
							<p><%= _host.certResponseFL %></p>
						</div>
					<% } %>
				</div>
				<div class="form-group">
					<label class="col-sm-24 control-label">Sailing Certificatione</label>
					<div class="col-sm-24">
						<strong><%= this.getCertStatus(_host.certStatusSL) %></strong>
						<% if( _host.certSL ) { %>
							- <a href="<%= _host.certSL.url %>" target="_blank">Licence preview</a>
						<% } %>
					</div>
					<% if( _host.certResponseSL ) { %>
						<label class="col-sm-24 control-label">Comment</label>
						<div class="col-sm-24">
							<p><%= _host.certResponseSL %></p>
						</div>
					<% } %>
				</div>
				<div class="form-group">
					<label class="col-sm-24 control-label">First Aid Certification</label>
					<div class="col-sm-24">
						<strong><%= this.getCertStatus(_host.certStatusFAC) %></strong>
						<% if( _host.certFAC ) { %>
							- <a href="<%= _host.certStatusFAC.url %>" target="_blank">Licence preview</a>
						<% } %>
					</div>
					<% if( _host.certResponseFAC ) { %>
						<label class="col-sm-24 control-label">Comment</label>
						<div class="col-sm-24">
							<p><%= _host.certResponseFAC %></p>
						</div>
					<% } %>
				</div>
				<a href="#/my-certifications" class="btn btn-default btn-lg btn-block">Edit Certifications</a>
			</div>
		</div>

		<div class="split col-lg-16 col-lg-offset-4"></div>
		
		<div class="row">
			<div class="col-sm-10">
				<h4>My Account Information</h4>
			</div>
			<div class="col-sm-offset-1 col-sm-10 col-md-8 col-lg-7">
				<div class="form-group">
					<label class="col-sm-24 control-label">Name</label>
					<div class="col-sm-24">
						<%= _host.firstname + ' ' + _host.lastname %>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-24 control-label">Birthdate</label>
					<div class="col-sm-24">
						<%= new Date(_host.birthdate.iso).toLocaleDateString() %>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-24 control-label">Phone number</label>
					<div class="col-sm-24">
						<%= _host.phone %>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-24 control-label">Email</label>
					<div class="col-sm-24">
						<%= email %>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-24 control-label">Address</label>
					<div class="col-sm-24">
						<%= _host.street %><br/>
						<%= _host.state %>-<%= _host.zipCode %> <%= _host.city %>
					</div>
				</div>
				<% if( _host.businessName ) { %>
					<div class="form-group">
						<label class="col-sm-24 control-label">Business Name</label>
						<div class="col-sm-24">
							<%= _host.businessName %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-24 control-label">Business EIN</label>
						<div class="col-sm-24">
							<%= _host.businessEin %>
						</div>
					</div>
				<% } %>
				<a href="#/help-center/update-account" class="btn btn-default btn-lg btn-block">Edit Account</a>
			</div>
		</div>
		
		<div class="split col-lg-16 col-lg-offset-4"></div>
		
		<div class="row">		
			<div class="col-sm-10">
				<h4>My Payment Information</h4>
			</div>
			<div class="col-sm-offset-1 col-sm-10 col-md-8 col-lg-7">
				<% if( _host.accountHolder ) { %> 
					<div class="form-group">
						<label class="col-sm-24 control-label">Name on Account</label>
						<div class="col-sm-24">
							<%= _host.accountHolder %>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-24 control-label">Account Number</label>
						<div class="col-sm-24">
							<%= _host.accountNumber %>
						</div>
					</div>
					<div class="text-left">
						<a href="#/my-bank-account?redirect=my-account" class="btn btn-default btn-lg btn-block">Edit Payment Account</a>
					</div>
				<% } else { %>
					<p>Add a payment account (its how Guests pay you!)</p>
					<div class="text-left">
						<a href="#/my-bank-account?redirect=my-account" class="btn btn-default btn-lg btn-block">Add Payment Account</a>
					</div>
				<% } %>
			</div>
		</div>

		<div class="split col-lg-16 col-lg-offset-4"></div>
		
		<div class="row">		
			<div class="col-sm-10">
				<h4>Notification Settings</h4>
			</div>
			<div class="col-sm-offset-1 col-sm-10 col-md-8 col-lg-7">
				<div class="form-group">
					<label class="col-sm-24 control-label">Notify me by</label>
					<div class="col-sm-24">
						
						<% 
						var settings = ((_profile.settings != undefined) || (_profile.settings != null)) ? _profile.settings : '';
						var notificationType = settings.notificationType;
						
						var notifyBy = "<em>not set yet!</em>";
						
						if( notificationType == "text"){
							notifyBy = "Text Message";
						}
						if ( notificationType == "email"){
							notifyBy = "Email";
						}
						if ( notificationType == "both"){
							notifyBy = "Email &amp; Text Message"
						}
						%>
						<%= notifyBy %>
					</div>
				</div>
				<div class="text-left">
					<a href="#/notifications-settings" class="btn btn-default btn-lg btn-block">Edit Notification Settings</a>
				</div>
			</div>
		</div>
	</div>
</form>