<div style="margin-bottom:10px; border:1px solid #e6ebec;">
	
	<a href="#" class="trigger">
		<div class="container-fluid">
			<div class="row overview-row">
				<div class="col-sm-20 text-left pull-left">
					BOATDAY DETAILS
				</div>
				<div class="col-sm-4 text-right pull-right">
					<img src="resources/down-arrow.png">
				</div>
			</div>
		</div>
	</a>

	<div class="row boatdayoverview-row-details">
		<div class="boatday-read-only boatday-overview-row-hidden" style="padding:0px;">
			
			<div class="row" style="border-bottom: 1px solid #E0EBED; margin:0px;">
				
				<div class="col-sm-12">
					<table class="table">
							<tr>
								<th>BoatDay Title</th>
								<td><%= boatday.get('name') %></td>
							</tr>
							<tr>
								<th>Select Boat</th>
								<td><%= boat.get('name') %></td>
							</tr>
							<tr>
								<th>Number of Guests</th>
								<td>
									<%= boatday.get('bookedSeats') %>
									<%= boatday.get('bookedSeats') == 1 ? ' seat' : ' seats' %>
								</td>
							</tr>
							<tr>
								<th>Departure Time</th>
								<td>
									<%= self.departureTimeToDisplayTime(boatday.get('departureTime')) %>
								</td>
							</tr>
							<tr>
								<th>Price per Seat</th>
								<td>&#36; <%= boatday.get('price') %></td>
							</tr>
					</table>
				</div>

				<div class="col-sm-12" style="border-left: 1px solid #E0EBED;">
					<table class="table">
							<tr>
								<th>Captain</th>
								<td><%= captain.get('displayName') %></td>
							</tr>
							<tr>
								<th>Date</th>
								<td><%= boatdayDate %></td>
							</tr>
							<tr>
								<th>Duration</th>
								<td>
									<%= boatday.get('duration') %>
									<%= boatday.get('duration') == 1 ? ' hour' : ' hours' %>
								</td>
							</tr>
							<tr>
								<th>Price calculator</th>
								<td>
									<table class="table table-bordered calculator">
											<tr>
												<td align="left"><%= boatday.get('bookedSeats') %> seats x &#36;<%= boatday.get('price') %></td>
												<td align="right">&#36;<%= totalPriceUSD %></td>
											</tr>
											<tr>
												<td align="left">BoatDay Fee</td>
												<td align="right">-&#36;<%= totalBoatDayUSD %></td>
											</tr>
											<tr>
												<td align="left">Host Payout</td>
												<td align="right">&#36;<%= totalHostUSD %></td>
											</tr>
									</table>
								</td>
							</tr>
					</table>
				</div>
				
			</div>

			<div class="row">
				<div class="col-sm-24" style="padding:30px 30px 30px 50px;">
					<table class="table">
						<tr>
							<th>Activity</th>
							<td>
								<%= category %>
							</td>
						</tr>
						<tr>
							<th>Activity Category</th>
							<td>
								<%= categoryItems.join(", ") %>
								<% if(equipments.length > 0) { %>
									</br> Equipments provided:
									<%= equipments.join(", ") %>
								<% } %>
							</td>
						</tr>
						<tr>
							<th>Description</th>
							<td><%= boatday.get('description') %></td>
						</tr>
						<tr>
							<th>Extras</th>
							<td><%= extras.join(", ") %></td>
						</tr>
						<tr>
							<th>Family Settings</th>
							<td><%= familySettings.join(", ") %></td>
						</tr>
						<tr>
							<th>Departure location</th>
							<td><%= boatday.get('locationText') %></td>
						</tr>
						<tr>
							<th>Booking policy</th>
							<td>
								<%= bookingPolicy %>, 
								
									<%= boatday.get('bookingPolicy') == 'manually' ? 'I want to review each Guest request and choose the best fit for my BoatDay.' : 'Automatically accept all Guest requests.' %>
								
							</td>
						</tr>
						<tr>
							<th>Cancellation Policy</th>
							<td><%= cancellationPolicy %>, 
									<% if(boatday.get('cancellationPolicy') == "flexible") { %>
										No charge for Guest cancellations up to 1 day prior to departure, except Trust &amp; Safety Fee.
									<% } else if (boatday.get('cancellationPolicy') == "moderate") { %>
										No charge for Guest cancellations up to 3 days prior to departure, except Trust &amp; Safety Fee.
									<% }  else if(boatday.get('cancellationPolicy') == "strict"){%>
										50% charge for Guest cancellations up to five days prior to departure time, including Trust &amp; Safety Fee.
									<% } %>
							</td>
						</tr>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>