<div class="container-fluid add-block" style="margin-bottom:10px;">	
	<div class="row heading">
		<div class="col-sm-16 col-sm-offset-2" style="color: #69878c;">
			<a href="#" class="trigger">GROUP CHAT - </a>
			<span class="new-chat-count"> 0 new</span>
		</div>
		<div class="col-sm-5 text-right">
			<img src="resources/down-arrow.png">
		</div>
	</div>

	<div class="boatday-group-chat-form" style="display:none;">
		<div class="my-boatdays" >
			<div class="box box-messages">
				<div class="info" style="max-height:300px; min-height:100px; overflow-y:scroll;">
					<div class="inner" >
					</div>
				</div>
			</div>
		</div>


		<div class="row bottom" style="margin-bottom:10px;">
			<div class="col-xs-24">
				<input type="text" class="form-control" name="message" placeholder="(press enter to send message)" />
			</div>
		</div>

		
	</div>

</div>
