<div class="top-nav"></div>

<% var ro = status != "creation" ? 'readonly disabled' : '' %>

<form class="form-horizontal" >
	<div class="container"> 
		<div class="col-xs-24 col-md-20 col-lg-16 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title text-center">
						<%= status == 'creation' ? 'Add a Boat' : '' %>
						<%= status == 'editing' ? 'Boat waiting for submition' : '' %>
						<%= status == 'complete' ? 'Boat in review' : '' %>
					</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="name" class="col-sm-8 control-label">Boat Name</label>
						<div class="col-sm-10">
							<input type="text" value="<%= name ? name : '' %>" class="form-control" id="name" name="name" placeholder="what she`s called" <%= ro %>>
						</div>
					</div>
					<div class="form-group">
						<label for="type" class="col-sm-8 control-label">Type of Boat </label>
						<div class="col-sm-10">
							<input type="text" value="<%= type ? type : '' %>" class="form-control" id="type" name="type" placeholder="maker of your boat" <%= ro %>>
						</div>
					</div>
					<div class="form-group">
						<label for="hullID" class="col-sm-8 control-label">Hull ID (HIN)</label>
						<div class="col-sm-6">
							<input type="text" value="<%= hullID ? hullID : '' %>" class="form-control" id="hullID" name="hullID" placeholder="### ##### ####" <%= ro %>>
						</div>
					</div>
					<div class="form-group">
						<label for="buildYear" class="col-sm-8 control-label">Build Year</label>
						<div class="col-sm-4">
							<input type="text" value="<%= buildYear ? buildYear : '' %>" class="form-control" id="buildYear" name="buildYear" <%= ro %>>
						</div>
					</div>
					<div class="form-group">
						<label for="length" class="col-sm-8 control-label">Length (ft)</label>		
						<div class="col-sm-2" style="padding-right:0px">
							<input type="text" value="<%= length ? length : '' %>" class="form-control" id="length" name="length" placeholder="# of" <%= ro %>>
						</div>
					</div>
					<div class="form-group">
						<label for="capacity" class="col-sm-8 control-label">Max Capacity</label>
						<div class="col-sm-2" style="padding-right:0px">
							<input type="text" value="<%= capacity ? capacity : '' %>" class="form-control" id="capacity" name="capacity" placeholder="# of" <%= ro %>>
						</div>
					</div>
				</div>
				<div class="panel-heading">
					<h3 class="panel-title text-center">Boat Features</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<div class="col-sm-8">	
							<label style="font-weight:normal">
								<input type="checkbox" name="featureAirConditioning" class="boatfeatures" <%= features.airConditioning ? 'checked' : '' %>> Air Conditioning 
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureAutopilot" class="boatfeatures" <%= features.autopilot ? 'checked' : '' %>> Autopilot 
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureCooler" class="boatfeatures" <%= features.cooler ? 'checked' : '' %>> Cooler
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureDepthFinder" class="boatfeatures" <%= features.depthFinder ? 'checked' : '' %>> Depth Finder 
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureFishFinder" class="boatfeatures" <%= features.fishFinder ? 'checked' : '' %>> Fish Finder  
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureGps" class="boatfeatures" <%= features.gps ? 'checked' : '' %>> GPS
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureGrill" class="boatfeatures" <%= features.grill ? 'checked' : '' %>> Grill
							</label><br>
						</div>
						<div class="col-sm-8">
							<label style="font-weight:normal">
								<input type="checkbox" name="featureInternet" class="boatfeatures" <%= features.internet ? 'checked' : '' %>> Internet 
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureLiveBaitWell" class="boatfeatures" <%= features.liveBaitWell ? 'checked' : '' %>> Live Bait Well 
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureMicrowave" class="boatfeatures" <%= features.microwave ? 'checked' : '' %>> Microwave
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureRefrigeration" class="boatfeatures" <%= features.refrigeration ? 'checked' : '' %>> Refrigeration
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureRodHolder" class="boatfeatures" <%= features.rodHolder ? 'checked' : '' %>> Rod Holder 
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureShower" class="boatfeatures" <%= features.shower ? 'checked' : '' %>> Shower
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureSink" class="boatfeatures" <%= features.sink ? 'checked' : '' %>> Sink
							</label><br>
						</div>
						<div class="col-sm-8">
							<label style="font-weight:normal">
								<input type="checkbox" name="featureStereo" class="boatfeatures" <%= features.stereo ? 'checked' : '' %>> Stereo 
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureStereoAuxInput" class="boatfeatures" <%= features.stereoAuxInput ? 'checked' : '' %>> Stereo Aux Input
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureSonar" class="boatfeatures" <%= features.sonar ? 'checked' : '' %>> Sonar
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureSwimLadder" class="boatfeatures" <%= features.swimLadder ? 'checked' : '' %>> Swim Ladder
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureTvDvd" class="boatfeatures" <%= features.tvDvd ? 'checked' : '' %>> TV/DVD 
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureTrollingMotor" class="boatfeatures" <%= features.trollingMotor ? 'checked' : '' %>> Trolling Motor
							</label><br>
							<label style="font-weight:normal">
								<input type="checkbox" name="featureWakeboardTower" class="boatfeatures" <%= features.wakeboardTower ? 'checked' : '' %>> Wakeboard Tower 
							</label>

						</div>
						
					</div>
				</div> 

				<% if( status != 'creation' ) { %>

					<div class="panel-heading">
						<h3 class="panel-title text-center">Boat Photo(s)</h3>
					</div>
					<div class="panel-body">
						<div class="form-group">
							<div class="col-sm-24" style="margin-bottom:0px">
								<div class="alert-info alert" style="margin:0px auto;">
									<span class="glyphicon glyphicon-info-sign"></span> 
									Guests browse photos to get a feel for your boat, be sure to put your best photo first. <a href="resources/boat-good.jpg" target="_blank">Good Example</a>, <a href="resources/boat-bad.jpg" target="_blank">Bad Example</a>.
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="boatPictures" class="col-sm-6 control-label">Upload photos</label>
							<div class="col-sm-8" >
								<input type="file" class="form-control" name="boatPictures" style="color:transparent"/>
							</div>
						</div>
						<div class="row boatPictures" style="line-height:auto; height:auto">

						</div>
					</div>

					<div class="panel-heading">
						<h3 class="panel-title text-center">Proof of Insurance</h3>
					</div>
					
					<div class="panel-body">
						<div class="form-group" style="margin-bottom:0px">
							<div class="col-sm-24">
								<div colspan="3" class="alert alert-info">
									<span class="glyphicon glyphicon-info-sign"></span> 
									Proof of insurance must clearly display: Name(s) of Insured, Insurance Carrier, Coverage Type and Amounts, Expiration Date and Hull ID.   (acceptable formats = .pdf, .jpeg, .png). Learn more <a href="https://www.boatdayapp.com/faq" target="_blank">here</a>.
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="insurance" class="col-sm-6 control-label">Upload a file</label>
							<div class="col-sm-8">
								<input type="file" class="form-control" name="insurance" style="color:transparent"/>
							</div>
						</div>
					</div>
						
					<table class="table">
						<thead>
							<tr>
								<td>File</td>
								<td>Upload date</td>
								<td>ID</td>
							</tr>
						</thead>
						<tbody class="proofOfInsurance">
						</tbody>
					</table>

					<div class="panel-heading" style="margin-top:30px;">
						<h3 class="panel-title text-center">Captains of your boat</h3>
					</div>
					<div class="panel-body">
						<div class="form-group" style="margin-bottom:0px">
							<div class="col-sm-24">
								<div class="alert-info alert">
									<span class="glyphicon glyphicon-info-sign"></span> 
									Have a captain you trust to drive your Boat? Add his or her email below and invite them to captain your BoatDays. Learn more <a href="https://www.boatdayapp.com/faq" target="_blank">here</a>.
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="insurance" class="col-sm-6 control-label">Email</label>
							<div class="col-sm-8">
								<input type="text" class="form-control" name="captain-email" />
							</div>
							<div class="col-sm-5">
								<button type="button" class="btn btn-default btn-block add-captain">Add captain</button>
							</div>
						</div>
					</div>
					<table class="table">
						<thead>
							<tr>
								<td>Email</td>
								<td>Status</td>
							</tr>
						</thead>
						<tbody class="captainsList">

						</tbody>
					</table>
				<% } %>

				<div class="panel-footer text-center" style="margin-top:30px;">
					<% if( status == 'creation') { %>
						<button type="submit" class="btn btn-primary">Add Boat</button>
					<% } %>

					<% if( status == 'editing') { %>
						<button type="submit" class="btn btn-primary">Submit for review</button>
					<% } %>

					<% if( status == 'complete') { %>
						<strong>The BoatDay Team is reviewing your boat</strong>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</form>