<div style="margin-bottom:10px; border:1px solid #e6ebec;">
	
	<a href="#" class="trigger">
		<div class="container-fluid">	
			<div class="row heading">
				<div class="col-sm-20 text-left pull-left">
					GUEST CHAT WALL
					<span class="new-chat-count"></span>
				</div>
				<div class="col-sm-4 text-right pull-right">
					<img src="resources/down-arrow.png">
				</div>
			</div>
		</div>
	</a>

	<div class="row boatdayoverview-row-details">

		<div class="boatday-group-chat-form boatday-overview-row-hidden">

			<% if(infoMessage != "") { %>

				<p class="text-center" style="margin-bottom:0px; padding: 20px; font-size: 1em;">
					<em><%= infoMessage %></em>
				</p>

			<% } else {  %>

				<div class="my-boatdays" >
					<div class="box box-messages">
						<div class="info chat-box">
							<div class="inner" >
							</div>
						</div>
					</div>
				</div>


				<div class="chat-text-area">
					<div class="row bottom " style="margin-bottom:5px;">
						<div class="col-xs-24">

							<div class="row expand-textarea">
								<textarea name="message" class="form-control auto-expand-textarea" id="auto-expand-textarea" rows="1" placeholder="your chat message"></textarea>
							</div>
									
							<div class="row text-right" style="margin-top:10px;">
								<span class="input-group-btn">
							    	<button class="btn btn-default enter-chat-text" type="button">Send</button>
							     </span>
							</div>

						</div>
					</div>

				</div>

			<% } %>

		</div>
	</div>

</div>
