<div class="row new-question-row">

	<div class="row">
		<div class="cell col-sm-4 col-md-3 col-lg-2 col-md-offset-1 profile">
			<div class="inner text-center">
					<div class="obj-thumb profile-picture" data-id="<%= from.id %>" style="background-image:url(<%= from.get("profilePicture").url() %>)"></div>
			</div>
		</div>
		<div class="cell col-sm-18 col-md-19 col-lg-20">
			<div class="inner">
				<strong><%= from.get("displayName") %></strong> asked:
			</div>
			<div class="inner">
				<%= question.get("question") %>
			</div>
		</div>
	</div>


	<div class="row" style="margin-top:5px;">
		<div class="cell col-sm-4 col-md-3 col-lg-2 col-md-offset-1 profile">
			
		</div>
		<div class="cell col-sm-18 col-md-19 col-lg-20 boatday-question-form" data-id="<%= question.id %>">
			<% if(self.boatDayisPassed) { %>
				<em>This question wasn't answer</em>
			<% } else { %>
				<form role="form" id="<%= question.id %>">
				<div class="inner">
					<div class="form-group">
						<textarea name="answer-<%= question.id %>" class="form-control" rows="3" required="required" placeholder="Your answer"></textarea>
					</div>
				</div>

				<div class="inner">
					<div class="form-group text-center" style="margin-top:10px;">
						<label class="control-label ">
							This question is 
							<% 
							if(question.get('public') == true){
								%>
								public.
							<%}
							if(question.get('public') == false){
								%>
								private.
							<%}

							%>
						</label>
					</div>

					<div class="form-group text-center">
						<button type="submit" class="btn btn-primary submit-answer" name="submit-answer-<%= question.id %>" style="margin-left:10px;">
							Send
						</button>


					</div>
				</div>
			</form>
			<% } %>
		</div>
	</div>

</div>