<div class="row pending-list-row" data-id="<%= request.id %>" style="">

	<div class="cell col-sm-3 col-xs-10 col-md-offset-1 profile" style="margin-left:0px;">
		<div class="inner text-center">
			<div class="obj-thumb profile-picture" data-id="<%= request.get('profile').id %>" style="background-image:url(<%= request.get('profile').get("profilePicture").url() %>); height:50px; width:50px;"></div>
		</div>
	</div>

	<div class="cell col-sm-3 col-xs-10">
		<div class="inner text-left">
			<strong><%= request.get('profile').get('displayName') %></strong>
			<span style="line-height:150%; display:block;">Sep. 8</span>
		</div>
	</div>

	<div class="cell col-sm-3 col-xs-8">
		<div class="inner text-center">
			<strong>Seats</strong>
			<span style="display:block;"><%= request.get('seats') %></span>
		</div>
	</div>

	<div class="cell col-sm-8 col-xs-12">
		<div class="inner text-center">
			<span class="earning-total">&#36;<%= totalHostUSD %></span>
		</div>
	</div>

	<div class="cell col-sm-7 col-xs-12" style="padding-left:12px;">
		<div class="inner text-right" style="height:45px; width:100%; display:table;">
				<% if (status == "pending") { %>

				<button class="btn btn-default btn-lg accept approve-request pull-left" data-id="<%= request.id %>">
					<span class="hidden-sm hidden-xs">Accept</span>
					<span class="visible-sm visible-xs glyphicon glyphicon-ok "></span>
				</button>
				<button class="btn btn-default btn-lg deny-request pull-right" data-id="<%= request.id %>">
					<span class="hidden-sm hidden-xs">Reject</span>
					<span class="visible-sm visible-xs glyphicon glyphicon-remove "></span>
				</button>

				<% } if (status == "pending-guest") { %>

				<em style="vertical-align:middle; margin:0px; display:table-cell;">Reschedule Pending...</em>

				<% } %>
		</div>
	</div>
</div>
