<div class="row old-question-row">

	<div class="row">
		<div class="cell col-sm-4 col-md-3 col-lg-2 col-md-offset-1 profile">
			<div class="inner text-center">
					<div class="obj-thumb profile-picture" data-id="<%= from.id %>" style="background-image:url(<%= from.get("profilePicture").url() %>)"></div>
			</div>
		</div>
		<div class="cell col-sm-18 col-md-19 col-lg-20">
			<div class="inner">
				<strong><%= from.get("displayName") %></strong> has a question regarding 
				<strong>"<%= boatday.get("name") %>"</strong>
			</div>
			<div class="inner">
				<%= question.get("question") %>
			</div>
		</div>
	</div>


	<div class="row">
		
		<div class="cell col-sm-18 col-md-19 col-lg-20" data-id="<%= question.id %>">
			<div class="inner" style="margin-left:110px;">
				<span><b>Answer:</b> </span><%= question.get("answer") %>
			</div>
		</div>
	</div>

</div>