<!-- No Host Yes Guest -->
<% _.each( self.collectionNoHostYesGuestReviews, function( request ) {  %>
<div class="row  review-list-row" data-id="<%= request.id %>">
	<div class="col col-sm-3 ">
		<div class="inner text-center">
			<div class="vcenter profile">
				<div class="obj-thumb profile-picture" data-id="<%= request.get('profile').id %>" style="background-image:url(<%= request.get('profile').get("profilePicture").url() %>); height:40px; width:40px;"></div>
				<strong><%= request.get('profile').get('displayName') %> </strong> 
			</div>
		</div>
	</div>
	<div class="col col-sm-13">
		<div class="inner">
			<em class="vcenter">Rate this Guest to display their review.</em>
		</div>
	</div>
	<div class="col col-sm-4 ">
		<div class="inner text-center">
			<div class="stars vcenter">
				<img class="rate rate-img-1-<%= request.id %>" data-id="<%= request.id %>" src="resources/star.png" data-rate="1" />
				<img class="rate rate-img-2-<%= request.id %>" data-id="<%= request.id %>" src="resources/star.png" data-rate="2" />
				<img class="rate rate-img-3-<%= request.id %>" data-id="<%= request.id %>" src="resources/star.png" data-rate="3" />
				<img class="rate rate-img-4-<%= request.id %>" data-id="<%= request.id %>" src="resources/star.png" data-rate="4" />
				<img class="rate rate-img-5-<%= request.id %>" data-id="<%= request.id %>" src="resources/star.png" data-rate="5" />
			</div>
		</div>
	</div>
	<div class="col col-sm-4">
		<div class="inner text-center">
			<div class="vcenter">
				<button data-rating="0" class="btn btn-default btn-lg rate-guest 
			 rate-btn-<%= request.id %>" data-id="<%= request.id %>">
				Rate Guest
				</button>
			</div>
		</div>
	</div>
</div>
<% }); %>
<!-- No Host Yes Guest -->

<!-- No Host No Guest -->
<% _.each( self.collectionNoHostNoGuestReviews, function( request ) {  %>
<div class="row  review-list-row" data-id="<%= request.id %>">
	<div class="col col-sm-3 ">
		<div class="inner text-center">
			<div class="vcenter profile">
				<div class="obj-thumb profile-picture" data-id="<%= request.get('profile').id %>" style="background-image:url(<%= request.get('profile').get("profilePicture").url() %>); height:40px; width:40px;"></div>
				<strong><%= request.get('profile').get('displayName') %> </strong> 
			</div>
		</div>
	</div>
	<div class="col col-sm-13">
		<div class="inner">
			<em class="vcenter">Rate this Guest.</em>
		</div>
	</div>
	<div class="col col-sm-4 ">
		<div class="inner text-center">
			<div class="stars vcenter">
				<img class="rate rate-img-1-<%= request.id %>" data-id="<%= request.id %>" src="resources/star.png" data-rate="1" />
				<img class="rate rate-img-2-<%= request.id %>" data-id="<%= request.id %>" src="resources/star.png" data-rate="2" />
				<img class="rate rate-img-3-<%= request.id %>" data-id="<%= request.id %>" src="resources/star.png" data-rate="3" />
				<img class="rate rate-img-4-<%= request.id %>" data-id="<%= request.id %>" src="resources/star.png" data-rate="4" />
				<img class="rate rate-img-5-<%= request.id %>" data-id="<%= request.id %>" src="resources/star.png" data-rate="5" />
			</div>
		</div>
	</div>
	<div class="col col-sm-4">
		<div class="inner text-center">
			<div class="vcenter">
				<button data-rating="0" class="btn btn-default btn-lg rate-guest rate-btn-<%= request.id %>" data-id="<%= request.id %>">
				Rate Guest
			</button>
			</div>
		</div>
	</div>
</div>
<% }); %>
<!-- No Host No Guest -->

<!-- Yes Host Yes Guest -->
<% _.each( self.collectionYesHostYesGuestReviews, function( request ) {  %>
<div class="row review-list-row" data-id="<%= request.id %>">
	<div class="col col-sm-3 ">
		<div class="inner text-center">
			<div class="vcenter profile">
				<div class="obj-thumb profile-picture" data-id="<%= request.get('profile').id %>" style="background-image:url(<%= request.get('profile').get("profilePicture").url() %>); height:40px; width:40px;"></div>
				<strong><%= request.get('profile').get('displayName') %> </strong> 
			</div>
		</div>
	</div>
	<div class="col col-sm-13">
		<div class="inner">
			<div class="vcenter">
				<div class="guest-rating">
					<img height="12px;" src="resources/rating-<%= request.get('ratingGuest') %>.png"/>
					<span class="date">
					<% 
						var createdAt = new Date(request.createdAt);
						var dateStr = self.formatDateWithMonthAndDate(createdAt) + ", " + createdAt.getFullYear();
					%>
					<%= dateStr %>
					</span>
				</div>
			<p><%= request.get('reviewGuest') %></p>
			</div>
		</div>
	</div>
	<div class="col col-sm-4 ">
		<div class="inner text-center">
			<div class="vcenter">
				<img src="resources/rating-<%= request.get("ratingHost") %>.png" data-rate="1" />
			</div>
		</div>
	</div>
	<div class="col col-sm-4">
		<div class="inner text-center">
			<div class="vcenter">
				<img src="resources/check.png" />
			</div>
		</div>
	</div>
</div>
<% }); %>
<!-- Yes Host Yes Guest -->

<!-- Yes Host No Guest -->
<% _.each( self.collectionYesHostNoGuestReviews, function( request ) {  %>
<div class="row  review-list-row" data-id="<%= request.id %>">
	<div class="col col-sm-3 ">
		<div class="inner text-center">
			<div class="vcenter profile">
				<div class="obj-thumb profile-picture" data-id="<%= request.get('profile').id %>" style="background-image:url(<%= request.get('profile').get("profilePicture").url() %>); height:40px; width:40px;"></div>
				<strong><%= request.get('profile').get('displayName') %> </strong> 
			</div>
		</div>
	</div>
	<div class="col col-sm-13">
		<div class="inner">
			<em class="vcenter"><b><%= request.get('profile').get('displayName') %></b> hasn't reviewed this BoatDay yet!</em>
		</div>
	</div>
	<div class="col col-sm-4 ">
		<div class="inner text-center">
			<div class="vcenter">
				<img src="resources/rating-<%= request.get("ratingHost") %>.png" data-rate="1" />
			</div>
		</div>
	</div>
	<div class="col col-sm-4">
		<div class="inner text-center">
			<div class="vcenter">
				<img src="resources/check.png" />
			</div>
		</div>
	</div>
</div>
<% }); %>
<!-- Yes Host No Guest -->