<div style="margin-bottom:10px; border:1px solid #e6ebec;">
	
	<a href="#" class="trigger">
		<div class="container-fluid">	
			<div class="row heading">
				<div class="col-sm-20 text-left pull-left">
					BOATDAY Q&amp;A
					<span class="new-question-count"></span>
				</div>
				<div class="col-sm-4 text-right pull-right">
					<img src="resources/down-arrow.png">
				</div>
			</div>
		</div>
	</a>

	<div class="row boatdayoverview-row-details">

		<div class="boatday-question boatday-overview-row-hidden">

			<% if(infoMessage != "") { %>

				<p class="text-center" style="margin-bottom:0px; padding: 20px; font-size: 1em;">
					<em><%= infoMessage %></em>
				</p>	

			<% } else  { 

					if(toatalQuestions < 1) { %>

					<p class="text-center" style="margin-bottom:0px; padding: 20px; font-size: 1em;">
						<em>No questions have been asked about this BoatDay... yet!</em>
					</p>

				<% } 
			} %>
			
			<!-- -->
			<div class="new-question-list" style="display:<%= (self.collectionUnAnsweredQuestions.length > 0) ? 'block;' : 'none;' %>">

			</div>

			<div class="col-sm-24 old-question-list" style="display:<%= (self.collectionAnsweredQuestions.length > 0) ? 'block;' : 'none;' %>">
				
			</div>	
			<!-- -->

		</div>
	</div>

</div>