<div class="row overviewinfo">
	<div class="col-sm-9 overviewinfo-left">
		<div class="infodate">
			<span><%= date %></span>
		</div>
		<div class="name">
			<h3><%= name %></h3>
		</div>
	</div>
	
	<div class="col-sm-15 overviewinfo-right">
		<div class="col-xs-8 text-center">
			<div class="circle">
				<span><%= self.collectionPendingSeatRequests.length %></span>
			</div>
			<a href="#" class="info-pending-link">Pending </br> Request<%= self.collectionPendingSeatRequests.length == 1 ? "" : "s" %></a>
		</div>

		<div class="col-xs-8 text-center">
			<div class="circle">
				<span><%= self.collectionUnAnsweredQuestions.length %></span>
			</div>
			<a href="#" class="info-question-link">New </br> Guest Question<%= self.collectionUnAnsweredQuestions.length == 1 ? "" : "s" %></a>
		</div>

		<div class="col-xs-8 text-center">
			<div class="circle">
				<span class="info-new-messages"><%= messages %></span>
			</div>
			<a href="#" class="info-message-link">New </br>Chat Message<%= messages == 1 ? '': 's' %></a>
		</div>
	</div>
</div>