<div class="top-nav"></div>

<form class="form-horizontal">
	<div class="container"> 
		<% 

			if( date ) {

				var dateJS = new Date(date.iso);
				var dateDay = dateJS.getDate();
				var dateMonth = dateJS.getMonth() + 1;
				var dateHours = dateJS.getHours();
				var dateMinutes = dateJS.getMinutes();
			}

		%>
		
		<div class="col-xs-24 col-md-20 col-lg-16 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title text-center">Create a BoatDay</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="name" class="col-sm-8 control-label">Name</label>
						<div class="col-sm-10">
							<input type="text" value="<%= name ? name : '' %>" class="form-control" id="name" name="name" placeholder="BoatDay Name">
						</div>
					</div>

					<div class="form-group">
						<label for="boat" class="col-sm-8 control-label">Select Boat</label>
						<div class="col-sm-10 boats">
							<em>Loading...</em>
						</div>
					</div>
					<div class="form-group">
						<label for="captain" class="col-sm-8 control-label">Select Captain</label>
						<div class="col-sm-8 captains">
							<em>Select a boat first</em>
						</div>
					</div>
					<div class="form-group">
						<label for="availableSeats" class="col-sm-8 control-label">Available Seats</label>
						<div class="col-sm-10">
							<div class="preview-availableSeats"></div>
							<input type="text" class="form-control" id="availableSeats" name="availableSeats" data-slider-min="2" data-slider-max="15" data-slider-step="1" data-slider-value="<%= availableSeats ? availableSeats : 8 %>">
						</div>
					</div>
					<div class="form-group">
						<label for="date" class="col-sm-8 control-label">Date</label>
						<div class="col-sm-6">
							<div class="input-group date">
								<input type="date" class="form-control" name="date" />
								<span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="departureTime" class="col-sm-8 control-label">Departure Time</label>
						<div class="col-sm-10">
							<div class="preview-departureTime"></div>
							<input type="text" class="form-control" id="departureTime" name="departureTime" data-slider-min="0" data-slider-max="23.5" data-slider-step="0.5" data-slider-value="<%= departureTime ? departureTime : 9 %>">
						</div>
					</div>
					<div class="form-group">
						<label for="duration" class="col-sm-8 control-label">Duration</label>
						<div class="col-sm-10">
							<div class="preview-duration"></div>
							<input type="text" class="form-control" id="duration" name="duration" data-slider-min="0.5" data-slider-max="12" data-slider-step="0.5" data-slider-value="<%= duration ? duration : 6 %>">
						</div>
					</div>
					<div class="form-group">
						<label for="price" class="col-sm-8 control-label">Price Per Seat</label>
						<div class="col-sm-10">
							<div class="preview-price"></div>
							<input type="text" class="form-control" id="price" name="price" data-slider-min="5" data-slider-max="150" data-slider-step="5" data-slider-value="<%= price ? price : 50 %>">
						</div>
						<div class="col-sm-16 col-sm-offset-8">
							<div class="priceHint"></div>
						</div>
					</div>
				</div>
				<div class="panel-heading">
					<h3 class="panel-title text-center">Details</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="activity" class="col-sm-8 control-label">Activity</label>
						<div class="col-sm-10">
							<select class="input-small form-control" id="activity" name="activity">
								<option value="leisure" <%= category && category == 'leisure' ? 'selected' : '' %> selected>Leisure</option> 
								<option value="fishing" <%= category && category == 'fishing' ? 'selected' : '' %>>Fishing</option>
								<option value="sailing" <%= category && category == 'sailing' ? 'selected' : '' %>>Sailing</option>
								<option value="sports" <%= category && category == 'sports' ? 'selected' : '' %>>Water Sports</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="description" class="col-sm-8 control-label">Description</label>
						<div class="col-sm-10">
							<textarea class="form-control" name="description" id="description" rows="4"  placeholder="describe your day on the water"><%= description ?  description : '' %></textarea>
						</div>
					</div>
					<div class="form-group activityContainer leisure">
						<label class="col-sm-24" style="font-weight:bold;">Category</label>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresLeisureCruising" <%= features.leisure.cruising ? 'checked': '' %>> Crusing
							</label>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresLeisurePartying" <%= features.leisure.partying ? 'checked': '' %>> Partying
							</label>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresLeisureSightseeing" <%= features.leisure.sightseeing ? 'checked': '' %>> Sightseeing
							</label>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresLeisureOther" <%= features.leisure.other ? 'checked': '' %>> Other
							</label> 
						</div>
					</div>
					<div class="form-group activityContainer fishing">
						<label class="col-sm-24" style="font-weight:bold;">Category</label>
						<div class="col-sm-12">
							<label>
								<input type="checkbox" name="featuresFishingOffshore" <%= features.fishing.offshore ? 'checked': '' %>> Offshore Fishing (limit 12 miles out)
							</label>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresFishingFlats" <%= features.fishing.flats ? 'checked': '' %>> Flats Fishing
							</label>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresFishingLake" <%= features.fishing.lake ? 'checked': '' %>> Lake Fishing
							</label>
						</div>
						<div class="col-sm-12">
							<label>
								<input type="checkbox" name="featuresFishingRecreational" <%= features.fishing.recreational ? 'checked': '' %>> Recreational Fishing (just for fun)
							</label>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresFishingOther" <%= features.fishing.other ? 'checked': '' %>> Other
							</label>
						</div>
					</div>
					<div class="form-group activityContainer fishing">
						<label class="col-sm-24" style="font-weight:bold;">Equipment</label>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresFishingEquipment" <%= features.fishing.equipment ? 'checked': '' %>> Equipment Provided
							</label>
						</div>
						<div class="equipment-list" <%= features.sports.equipment ? '': 'style="display:none"' %>>
							<div class="col-sm-6">
								<label>
									<input type="checkbox" name="featuresFishingEquipmentItemsBait" <%= features.fishing.equipmentItems.bait ? 'checked': '' %>> Bait
								</label>
							</div>
							<div class="col-sm-6">
								<label>
									<input type="checkbox" name="featuresFishingEquipmentItemsLines" <%= features.fishing.equipmentItems.lines ? 'checked': '' %>> Fishing Line
								</label>
							</div>
							<div class="col-sm-6">
								<label>
									<input type="checkbox" name="featuresFishingEquipmentItemsHooks" <%= features.fishing.equipmentItems.hooks ? 'checked': '' %>> Hooks
								</label>
							</div>
							<div class="col-sm-6">
								<label>
									<input type="checkbox" name="featuresFishingEquipmentItemsLures" <%= features.fishing.equipmentItems.lures ? 'checked': '' %>> Lures
								</label>
							</div>
							<div class="col-sm-6">
								<label>
									<input type="checkbox" name="featuresFishingEquipmentItemsNets" <%= features.fishing.equipmentItems.nets ? 'checked': '' %>> Nets
								</label>
							</div>
							<div class="col-sm-4">
								<label>
									<input type="checkbox" name="featuresFishingEquipmentItemsRods" <%= features.fishing.equipmentItems.rods ? 'checked': '' %>> Rods
								</label>
							</div>
							<div class="col-sm-6">
								<label>
									<input type="checkbox" name="featuresFishingEquipmentItemsSinkers" <%= features.fishing.equipmentItems.sinkers ? 'checked': '' %>> Sinkers
								</label>
							</div>
						</div>
					</div>
					<div class="form-group activityContainer sports">
						<label class="col-sm-24" style="font-weight:bold;">Category</label>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresSportsSnorkeling" <%= features.sports.snorkeling ? 'checked': '' %>> Snorkeling
							</label>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresSportStubing" <%= features.sports.tubing ? 'checked': '' %>> Tubing
							</label>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresSportsWakeBoarding" <%= features.sports.wakeBoarding ? 'checked': '' %>> Wake Boarding
							</label>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresSportsWaterSkiing" <%= features.sports.waterSkiing ? 'checked': '' %>> Water Skiing 
							</label>
						</div>
					</div>
					<div class="form-group activityContainer sports">
						<label class="col-sm-24" style="font-weight:bold;">Equipment</label>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresSportsEquipment" <%= features.sports.equipment ? 'checked': '' %>> Equipment Provided
							</label>
						</div>
						<div class="equipment-list" <%= features.sports.equipment ? '': 'style="display:none"' %>>
							<div class="col-sm-6">
								<label>
									<input type="checkbox" name="featuresSportsEquipmentItemsFins" <%= features.sports.equipmentItems.fins ? 'checked': '' %>> Fins
								</label>
							</div>
							<div class="col-sm-6">
								<label>
									<input type="checkbox" name="featuresSportsEquipmentItemsHelmets" <%= features.sports.equipmentItems.helmets ? 'checked': '' %>> Helmets
								</label>
							</div>
							<div class="col-sm-6">
								<label>
									<input type="checkbox" name="featuresSportsEquipmentItemsMasks" <%= features.sports.equipmentItems.masks ? 'checked': '' %>> Masks
								</label>
							</div>
							<div class="col-sm-6">
								<label>
									<input type="checkbox" name="featuresSportsEquipmentItemsSnorkels" <%= features.sports.equipmentItems.snorkels ? 'checked': '' %>> Snorkels
								</label>
							</div>
							<div class="col-sm-6">
								<label>
									<input type="checkbox" name="featuresSportsEquipmentItemsTowLine" <%= features.sports.equipmentItems.towLine ? 'checked': '' %>> Tow Line
								</label>
							</div>
							<div class="col-sm-6">
								<label>
									<input type="checkbox" name="featuresSportsEquipmentItemsTubes" <%= features.sports.equipmentItems.tubes ? 'checked': '' %>> Tubes
								</label>
							</div>
							<div class="col-sm-6">
								<label>
									<input type="checkbox" name="featuresSportsEquipmentItemsWakeboard" <%= features.sports.equipmentItems.wakeboard ? 'checked': '' %>> Wakeboard
								</label>
							</div>
							<div class="col-sm-6">
								<label>
									<input type="checkbox" name="featuresSportsEquipmentItemsWaterSkis" <%= features.sports.equipmentItems.waterSkis ? 'checked': '' %>> Water Skis
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-24" style="font-weight:bold;">Family Settings</label>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresGlobalChildren" <%= features.global.children ? 'checked': '' %>> Children allowed 
							</label>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresGlobalSmoking" <%= features.global.smoking ? 'checked': '' %>> Smoking Permitted
							</label>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresGlobalDrinking" <%= features.global.drinking ? 'checked': '' %>> Drinking Permitted 
							</label>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresGlobalPets" <%= features.global.pets ? 'checked': '' %>> Pets Permitted 
							</label>
						</div>
					</div>
					<div class="form-group">
						<label for="extras" class="col-sm-24" style="font-weight:bold;">Extras</label>
					
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresExtrasFood" <%= features.extras.food ? 'checked': '' %>> Food
							</label>
						</Div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresExtrasDrink" <%= features.extras.drink ? 'checked': '' %>> Drink
							</label><br>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresExtrasMusic" <%= features.extras.music ? 'checked': '' %>> Music
							</label>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresExtrasTowels" <%= features.extras.towels ? 'checked': '' %>> Towels
							</label><br>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresExtrasSunscreen" <%= features.extras.sunscreen ? 'checked': '' %>> Sunscreen
							</label>
						</div>
						<div class="col-sm-6">
							<label>
								<input type="checkbox" name="featuresExtrasInflatables" <%= features.extras.inflatables ? 'checked': '' %>> Inflatables 
							</label>
						</div>
					</div>
				</div>
					<!-- <div class="form-group">
						<label for="activities" class="col-sm-8 control-label">Activities Boxes</label>
						<div class="col-sm-8">
							<select class="col-sm-8 form-control" id="activities" name="activities">
								<option>Activities and Extras</option>
								<option>Fury</option>
								<option>Kaam</option>
							</select>
						</div>
					</div> -->
				<!-- </div> -->

				<div class="panel-heading">
					<h3 class="panel-title text-center">Departure location (where Guests come aboard)</h3>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<label for="departureLocation" class="col-sm-8 control-label">Departure Location</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="departureLocation" name="departureLocation" placeholder="search a map">
						</div>
					</div>

					<div class="panel-body" style="padding:0px;">
						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d57482.30199341941!2d-80.23108009999999!3d25.782323950000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1430140190964" style="border:0"></iframe>
						</div>
					</div>
				</div>

				<div class="panel-heading">
					<h3 class="panel-title text-center">How do you want to accept seat requests</h3>
				</div>

				<div class="panel-body">
					<div class="form-group" style="margin-bottom:0px">
						<div class="col-sm-20 col-sm-offset-2">
							<p>
								<label>
									<input type="radio" name="bookingPolicy" value="manually" checked> <strong>Manual Book: </strong>I want to review each Guest request and choose the best fit for my BoatDay.
								</label>
							</p>
							<p>
								<label>
									<input type="radio" name="bookingPolicy" value="automatically"> <strong>Instant Book: </strong>Automatically accept all Guest requests.
							</p>
							<p style="margin-bottom:0px">
								<label>
									<input type="radio" name="bookingPolicy" value="halfway"> <strong>Trusted Book: </strong>
									Automatically acceots requests from Guests who have attended one of my BoatDays and received a positive review. I want to review all other requests.
								</label>
							</p>
						</div>
					</div>
				</div>
				<div class="panel-heading">
					<h3 class="panel-title text-center">
						What is your policy on Guest cancellations?
						<a href="https://www.boatdayapp.com/faq" target="_blank"><span class="glyphicon glyphicon-info-sign"></span></a>
					</h3>
				</div>

				<div class="panel-body">
					<div class="form-group" style="margin-bottom:0px">
						<div class="col-sm-24 col-sm-offset-2">
							<p>
								<label>
									<input type="radio" name="cancellationPolicy" value="flexible" checked> <strong>Flexible:</strong> Full refund up to 1 day prior to departure time, except fees.
								</label>
							</p>
							<p>
								<label>
									<input type="radio" name="cancellationPolicy" value="moderate"> <strong>Moderate: </strong>Full refund up to 3 days prior to departure time, except fees.
								</label>
							</p>
							<p style="margin-bottom:0px">
								<label>
									<input type="radio" name="cancellationPolicy" value="strict"> <strong>Strict: </strong>50% refund up to five days prior to departure time, except fees.
								</label>
							</p>
						</div>
					</div>
				</div>	
				<div class="panel-footer text-center">
					<button type="submit" class="btn btn-primary">
						<%= status == 'creation' ? 'Create' : 'Save' %>
					</button>
				</div>
			</div>
		</div>
	</div>
</form>