<div class="row old-question-row">

	<div class="row" >
		<div class="cell col-sm-4 col-md-3 col-lg-2 col-md-offset-1 profile" >
			<div class="inner">
					<div class="obj-thumb profile-picture" data-id="<%= from.id %>" style="background-image:url(<%= from.get("profilePicture").url() %>);"></div>
			</div>
		</div>
		<div class="cell col-sm-18 col-md-19 col-lg-20">
			<div class="inner">
				<strong><%= from.get("displayName") %></strong> asked a question on <%= questionDateTimeStr %>
			</div>
			<div class="inner">
				<%= question.get("question") %>
			</div>
		</div>
	</div>

	<div class="row" style="margin-top:15px;">
		<div class="cell col-sm-4 col-md-3 col-lg-2 col-md-offset-1 profile" >
			<div class="inner">
					<div class="obj-thumb profile-picture" data-id="<%= profile.id %>" style="background-image:url(<%= profile.get("profilePicture").url() %>)"></div>
			</div>
		</div>
		<div class="cell col-sm-18 col-md-19 col-lg-20">
			<div class="inner">
				<span><b>Reply:</b></span></br>
			</div>
			<div class="inner">
				 <%= question.get("answer").replace(/\n/g, "<br>") %>
			</div>
		</div>
	</div>


</div>



