<div class="row pending-list-row" data-id="<%= request.id %>" style="">
	<div class="cell col-sm-4 col-md-3 col-lg-2 col-md-offset-1 profile" style="margin-left:20px;">
		<div class="inner text-center">
			<div class="obj-thumb profile-picture" data-id="<%= request.get('profile').id %>" style="background-image:url(<%= request.get('profile').get("profilePicture").url() %>); height:50px; width:50px;"></div>
		</div>
	</div>
	<div class="cell col-xs-12 col-sm-14 col-md-13 col-lg-15">
		<div class="inner">
			<strong><%= request.get('profile').get('displayName') %></strong> 
			<%= request.get('seats') %>
			<%= request.get('seats') == 1 ? '(seat)' : '(seats)' %>
			
		</br>
			<em style="color: #aaa;">
				<% 
				var date = new Date(request.createdAt);
				var _date = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
				%>
				<%= _date %></em>
		</div>
	</div>
	<div class="cell col-xs-10 col-sm-6 col-md-7 col-lg-6">
		<div class="inner text-center">
			<div class="stars">
				<img class="rate" src="resources/star.png" data-rate="1" />
				<img class="rate" src="resources/star.png" data-rate="2" />
				<img class="rate" src="resources/star.png" data-rate="3" />
				<img class="rate" src="resources/star.png" data-rate="4" />
				<img class="rate" src="resources/star.png" data-rate="5" />
			</div>
		</div>
	</div>
</div>