<div class="row overviewinfo">
	<div class="col-sm-9 overviewinfo-left">
		<div class="infodate">
			<span><%= date %></span>
		</div>
		<div class="name">
			<h3><%= name %></h3>
		</div>
	</div>
	
	<div class="col-sm-15 overviewinfo-right">

	<% if(boatday.get("status") == "cancelled")  { %>

		<!-- Boatday is cancelled -->
		<div class="name text-center">
			<h3>This BoatDay was cancelled</h3>
		</div>
		<!-- Boatday is cancelled -->

	<% } else { 

		if(self.isPastBoatDay) { %>

			<!-- BoatDay is past -->
			<div class="col-xs-8 text-center">
				<div class="name">
					<h3 style="margin-bottom:0px;">&#36;<%= totalHostUSD %></h3>
				</div>
				<span class="total-earnings" style="margin-top:0px;">Total<br />Earnings</span>
			</div>

			<div class="col-xs-8 text-center">
				<div class="circle">
					<span><%= bookedSeats %></span>
				</div>
				<a href="#" class="info-pending-link">Confirmed<br /> Guest<%= bookedSeats == 1 ? "" : "s" %></a>
			</div>

			<div class="col-xs-8 text-center">
				<div class="circle">
					<span class="info-new-review">0</span>
				</div>
				<a href="#" class="info-review-link">New<br /> Reviews</a>
			</div>
			<!-- BoatDay is past -->

		<% } else { %>

			<!-- BoatDay is active -->
			<div class="col-xs-8 text-center">
				<div class="circle">
					<span class="info-new-pending">0</span>
				</div>
				<a href="#" class="info-pending-link">Pending<br />Requests</a>
			</div>

			<div class="col-xs-8 text-center">
				<div class="circle">
					<span><%= bookedSeats %></span>
				</div>
				<a href="#" class="info-seatsBooked-link">Seat<%= bookedSeats == 1 ? "" : "s" %><br /> Booked</a>
			</div>

			<div class="col-xs-8 text-center">
				<div class="name">
					<h3 style="margin-bottom:0px;">&#36;<%= totalHostUSD %></h3>
				</div>
				<span class="total-earnings" style="margin-top:0px;">Host<br />Payout</span>
			</div>
			<!-- BoatDay is active -->

		<% } %>


	<% } %>


	</div>
</div>