<% if(collection.length > 0) { %>
	<thead>
		<tr>
			<th>Name</th>
			<th>Year</th>
			<th>Type</th>
			<th class="text-center">Status</th>
			<th> </th>
		</tr>
	</thead>
	<tbody>
		<% _.each( collection, function( boat ) { %>
			<tr>
				<td class="text-left"><%= boat.name %></td>
				<td class="text-left"><%= boat.buildYear %></td>
				<td class="text-left"><%= boat.type %></td>
				<td class="text-center"><%= boat.status %></td>
				<td class="text-right">
					<a href="#/boat/<%= boat.objectId %>">
						<span class="glyphicon glyphicon-pencil"/></span>
					</a>
				</td>
			</tr> 
		<% }); %>
	</tbody>
<% } else { %>
	<tbody>
		<tr>
			<td class="text-center" colspan="4">
				<em>No boats added</em>
			</td>
		</tr>
	</tbody>
<% } %>