<% if(collection.length > 0) { %>
	<thead>
		<tr>
			<th> </th>
			<th class="text-center">Hull ID</th>
			<th class="text-center">Status</th>
			<th class="text-center">Actions</th>
		</tr>
	</thead>
	<tbody>
		<% _.each( collection, function( boat ) { %>
			<tr>
				<th><%= boat.name %> - <%= boat.type %></td>
				<td class="text-center"><%= boat.hullID %></td>
				<td class="text-center"><%= boat.status %></td>
				<td class="text-center">
					<a href="#/boat/<%= boat.objectId %>">
						<span class="glyphicon glyphicon-pencil"/></span>
					</a>
				</td>
			</tr> 
		<% }); %>
	</tbody>
<% } else { %>
	<tbody>
		<tr>
			<td class="text-center" colspan="4">
				<em>No boats added</em>
			</td>
		</tr>
	</tbody>
<% } %>