<div style="margin-bottom:10px; border:1px solid #e6ebec;">
	
	<a href="#" class="trigger">
		<div class="container-fluid">
			<div class="row overview-row">
				<div class="col-sm-20 text-left pull-left">
					BATDAY DETAILS: <%= name %>
				</div>
				<div class="col-sm-4 text-right pull-right">
					<img src="resources/down-arrow.png">
				</div>
			</div>
		</div>
	</a>

	<div class="row boatdayoverview-row-details">
		<div class="boatday-read-only boatday-overview-row-hidden" style="padding:0px;">

			<% if(self.isReadOnly){%>
				<p class="text-center" style="margin-bottom:0px; padding: 20px; font-size: 1em; border-bottom:1px solid #E0EBED;">
					<em>This BoatDay <%= boatday.get("status") == "cancelled" ? "was cancelled" : "has requests pending or / and approved" %> , you can not edit it anymore. For any emergency change, please contact the BoatDay Team trough the <a href="#/help-center">Help Center</a>.</em></p>
			<%} %>
			
			<div class="row" style="border-bottom: 1px solid #E0EBED; margin:0px; padding-left: 20px;">
				
				<div class="col-sm-12" style="padding-top:30px;">
					<table class="table">
							<tr>
								<th>BoatDay Title</th>
								<td><%= boatday.get('name') %></td>
							</tr>
							<tr>
								<th>Select Boat</th>
								<td><%= boat.get('name') %></td>
							</tr>
							<tr>
								<th>Available Seats</th>
								<td>
									<%= boatday.get('bookedSeats') %>
									<%= boatday.get('bookedSeats') == 1 ? ' seat' : ' seats' %>
								</td>
							</tr>
							<tr>
								<th>Departure Time</th>
								<td>
									<%= self.departureTimeToDisplayTime(boatday.get('departureTime')) %>
								</td>
							</tr>
							<tr>
								<th>Price per Guest</th>
								<td>&#36;<%= boatday.get('price') %></td>
							</tr>
					</table>
				</div>

				<div class="col-sm-12 right-row-col" style="padding-top:30px;">
					<table class="table">
							<tr>
								<th>Captain</th>
								<td><%= captain.get('displayName') %></td>
							</tr>
							<tr>
								<th>Date</th>
								<td><%= boatdayDate %></td>
							</tr>
							<tr>
								<th>Duration</th>
								<td>
									<%= boatday.get('duration') %>
									<%= boatday.get('duration') == 1 ? ' hour' : ' hours' %>
								</td>
							</tr>
							<tr>
								<th>Price calculator</th>
								<td>
									<table class="table table-bordered calculator">
											<tr>
												<td align="left"><%= boatday.get('bookedSeats') %> seats x &#36;<%= boatday.get('price') %></td>
												<td align="right">&#36;<%= totalPriceUSD %></td>
											</tr>
											<tr>
												<td align="left">BoatDay Fee
													<a><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="This is the fee charged to Hosts by BoatDay."></span></a>
												</td>
												<td align="right">-&#36;<%= totalBoatDayUSD %></td>
											</tr>
											<tr>
												<td align="left">
													Host Payout
													<a><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="This is the estimated payout you will receive for your BoatDay."></span></a>
												</td>
												<td align="right">&#36;<%= totalHostUSD %></td>
											</tr>
									</table>
								</td>
							</tr>
					</table>
				</div>
				
			</div>

			<div class="row">
				<div class="col-sm-24" style="padding:30px 30px 30px 50px;">
					<table class="table">
						<tr>
							<th>Activity</th>
							<td>
								<%= category %>
							</td>
						</tr>
						<tr>
							<th>Category</th>
							<td>
								<%= (categoryItems.length > 0) ? categoryItems.join(", ") : "<em>none selected</em>" %>
							</td>
						</tr>

					<% if((boatday.get('category') == "fishing") || (boatday.get('category') == "sports")) { %>

						<tr>
							<th>Equipment provided</th>
							<td>
							<%= (equipments.length > 0 ) ? equipments.join(", ") : "<em>no equipment provided</em>" %>
							</td>
						</tr>

					<% } %>

						<tr>
							<th>Description</th>
							<td><%= boatday.get('description') %></td>
						</tr>
						<tr>
							<th>Extras</th>
							<td><%= (extras.length > 0) ? extras.join(", ") : "<em>no extras selected</em>" %></td>
						</tr>
						<tr>
							<th>Family Settings</th>
							<td><%= (familySettings.length > 0 ) ? familySettings.join(", ") : "<em>no family settings selected</em>" %></td>
						</tr>
						<tr>
							<th>Departure location</th>
							<td>
								<%= boatday.get('locationText') %> &nbsp;
								<a href="https://maps.google.com/?q=<%= boatday.get('locationText') %>" target="_blank">view on map</a>
							</td>
						</tr>
						<tr>
							<th>Booking policy <a href="https://www.boatdayapp.com/faq#bookingPolicy" target="_blank"><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Click this icon for more information."></span></a></th>
							<td><%= bookingPolicy %></td>
						</tr>
						<tr>
							<th>Cancellation Policy <a href="https://www.boatdayapp.com/faq#cancellationPolicy" target="_blank"><span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top" data-container="body" title="Click this icon for more information."></span></a></th>
							<td><%= cancellationPolicy %></td>
						</tr>
					</table>
				</div>
			</div>

		</div>
	</div>
</div>