<div class="container wrapper">
	<div class="row">
		<div class="col-sm-4 left-part">
			<div class="hidden-xs left-navigation"></div>
		</div>
		<div class="col-sm-20 col-sm-offset-0 right-part">
			<div class="top-navigation"></div>
			<div class="inner-content">

				<div class="display-messages text-center"></div>

				<div class="row content-highlight add-boatday">
					<h1>No past BoatDays</h1>
				</div>

				<div class="row my-boatdays">
					<div class="col-sm-24">
						<h4>PAST &amp; CANCELED BOATDAYS</h4>
						<div class="content container-fluid">
							<div class="items"></div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>