<table class="table" style="margin-bottom:0px">
	<% if(data.length > 0) { %>
		<tr>
			<th colspan="2">Host</th>
			<th>Boat Name</th>
			<th>Boat Type</th>
			<th> </th>
		</tr>
		<% _.each(data, function(request) { %>
			<tr class="text-left">
				<td style="vertical-align:middle;width:45px;">
					<div class="profilePicture" style="display:;height:40px;width:40px;background-image:url(<%= request.profilePicture %>)"></div>
				</td>
				<td style="vertical-align:middle;"><strong><%= request.displayName %></strong></td>
				<td style="vertical-align:middle;"><%= request.boatName %></td>
				<td style="vertical-align:middle;"><%= request.boatType %></td>
				<td style="vertical-align:middle;cursor:pointer"><a class="captainRequest accept" data-id="<%= request.id %>"><span class="glyphicon glyphicon-ok-circle"></span></a></td>
				<td style="vertical-align:middle;cursor:pointer"><a class="captainRequest deny" data-id="<%= request.id %>"><span class="glyphicon glyphicon-remove-circle"></span></a></td>
			</tr>
		<% }) %>
	<% } else { %> 
		<tr>
			<td>No pending requests</td>
		</tr>
	<% } %>
</table>