<div class="col-sm-12 my-boatday my-boatday-<%= id %>" data-id="<%= id %>">
	
	<div class="my-boatday-inner <%= _class %>">
		<div class="header">
			<div class="picture <%= active ? 'active' : '' %>" style="background-image:url(<%= picture %>)"></div>
			<div class="inner">
				<p class="date"><%= date %> at <%= time %></p>
				<h1><%= name %></h1>
				
			</div>

			<p class="seats">
				<strong><%= bookedSeats %>/<%= availableSeats %></strong> 
				Seats Booked
			</p>

			<% if( host.id == Parse.User.current().get('host').id ) { %>
				<p class="earnings">
					<strong>$<%= potEarings %></strong> 
					<%= active ? 'Expected Earnings' : 'Earnings' %>
				</p>
			<% } %>
		</div>
		<a class="text-center" href="#/boatday-overview/<%= id %>">
			<div class="info" style="padding:30px;">
				<div class="inner">
					<img src="resources/ico-info.png" />
					<div class="inner">
						<%= active == true ? "Manage BoatDay" : "Overview" %>
					</div>
				</div>
			</div>
		</a>
	</div>
</div>