<div class="dashboard-canvas">

	<div class="display-messages text-center"></div>

	<div class="row content-highlight add-boat">
		<h1>Welcome!</h1>
		<h2>Now that you’ve created a Host account, register your boat to get started hosting BoatDays!</h2>
		<div class="box col-xs-24 col-sm-22 col-sm-offset-1 col-md-18 col-md-offset-3 col-lg-16 col-lg-offset-4">
			<div class="left col-xs-24 col-sm-12"> </div>
			<div class="right col-xs-24 col-sm-12">
				<a href="#/boat/new" class="btn btn-lg btn-primary">Add a boat</a>
			</div>
		</div>
	</div>

	<div class="row content-highlight add-boatday">
		<h1>You’re all set!</h1>
		<h2>Create your first BoatDay and start hosting Guests.</h2>
		<div class="box col-xs-24 col-sm-22 col-sm-offset-1 col-md-18 col-md-offset-3 col-lg-16 col-lg-offset-4">
			<div class="left col-xs-24 col-sm-12"> </div>
			<div class="right col-xs-24 col-sm-12">
				<a href="#/boatday/new" class="btn btn-lg btn-primary">Create a BoatDay</a>
			</div>
		</div>
	</div>
	
	<div class="row my-boatdays">

		<div class="col-sm-24">
			<h5>Any friends with a boat?</h5>
			Send them your personal <button class="btn btn-default btn-promo">INVITE CODE</button> and get 20% off the Host Fee for your first 5 BoatDays when one signs up! 
		</div>
		<div class="col-sm-24">
			<h4>UPCOMING BOATDAYS</h4>
			<div class="content container-fluid">
				<div class="items"></div>
			</div>
		</div>
	</div>

	<div class="row my-boats">
		<div class="col-sm-24">
			<h4>My Boats</h4>
			<div class="content container-fluid">
				<div class="rows"></div>
				<div class="row dashboard-row cell add-new">
					<a href="#/boat/new" class="col-xs-24">Add another boat</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row my-requests">
		<div class="col-sm-24">
			<h4>My Captain Requests</h4>
			<div class="content container-fluid"></div>
		</div>
	</div>

</div>