<div class="top-nav"></div>

<div class="container">
	<h1>Dashboard</h1>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title text-center">My Boats</h3>
				</div>
				<div class="boats text-center">
					<img class="loader" src="resources/loader.gif" />
				</div>
			</div>
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title text-center">My BoatDays</h3>
				</div>
				<div class="boatdays text-center">
					<img class="loader" src="resources/loader.gif" />
				</div>
			</div>
		</div>
		<div class="col-sm-12 captainRequestsHolder">
			
		</div>
	</div>
</div>