<form>
	<div class="container">
		<div class="col-sm-12 col-sm-offset-6 content animated pulse">
			<div class="row text-center">
				<img src="resources/home-logo.png" class="logo" />
			</div>
			<div class="row">
				<div class="form">
					<h4 class="text-center">Reset Password</h4>
					<div class="form-group col-sm-22 col-sm-offset-1">
						<p class="text-center">
							Enter the email address associated with your account, and we'll email you a link to reset your password.
						</p>
					</div>
					<div class="form-group col-sm-14 col-sm-offset-5">
						<input type="email" name="email" class="form-control input-lg" placeholder="Email">
					</div>
					<div class="form-group col-sm-14 col-sm-offset-5">
						<button type="submit" class="btn btn-block btn-lg btn-primary" type="button">Send Reset Link</button>
					</div>
				</div>
				<div class="col-sm-24 text-center">
					<a href="#/home">Back</a>
				</div>
			</div>
		</div>
	</div>
</form>