<div class="top-nav"></div>

<form class="form-horizontal"> 
	<div class="container"> 
		<div class="col-xs-24 col-md-20 col-lg-16 col-xs-offset-0 col-sm-offset-0 col-md-offset-2 col-lg-offset-4">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title text-center">
						How can we help you?
					</h3>
				</div>
				<div class="panel-body">
					<p class="text-center" style="margin:30px auto 70px auto;">
						Visit our <a href="https://www.boatdayapp.com/faq" target="_blank">FAQ's</a> for answers to common BoatDay questions 
					</p>
					<div class="form-group">
						<label for="category" class="col-sm-16 col-sm-offset-4">I have a question/comment about...</label>
						<div class="col-sm-16 col-sm-offset-4">
							<select class="input-small form-control" id="category" name="category">
								<option value="general" selected>General Feedback</option>
								<option value="host-status">Host Registration Status</option>
								<option value="update-account">Update Account Information</option>
								<option value="update-boat">Update Boat Information</option>
								<option value="insurance">Insurance</option>
								<option value="lost-found">Lost &amp; Found</option>
								<option value="captains">Captains</option>
								<option value="payment">Payment</option>
								<option value="guest-incident">Guest Incident or Concern </option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="feedback" class="col-sm-16 col-sm-offset-4">Feedback</label>
						<div class="col-sm-16 col-sm-offset-4">
							<textarea rows="15" name="feedback" class="form-control" placeholder="Tell us whats on your mind..."></textarea>
						</div>
					</div>
					<div class="form-group">
						<label for="file1" class="col-sm-16 col-sm-offset-4">Attach a file #1 <em style="font-weight:normal">(optional)</em></label>
						<div class="col-sm-16 col-sm-offset-4">
							<input type="file" class="upload form-control" id="file1" name="file1"/>
						</div>
					</div>
					<div class="form-group">
						<label for="file2" class="col-sm-16 col-sm-offset-4">Attach a file #2 <em style="font-weight:normal">(optional)</em></label>
						<div class="col-sm-16 col-sm-offset-4">
							<input type="file" class="upload form-control" id="file2" name="file2"/>
						</div>
					</div>
					<div class="form-group">
						<label for="file3" class="col-sm-16 col-sm-offset-4">Attach a file #3 <em style="font-weight:normal">(optional)</em></label>
						<div class="col-sm-16 col-sm-offset-4">
							<input type="file" class="upload form-control" id="file3" name="file3"/>
						</div>
					</div>
				</div> 
				<div class="panel-footer text-center">
				 	<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</div>
		</div>
	</div>
</form>