<header>
	<h1 class="text-center">Help Center</h1>
	<p class="text-center">
		Visit our <a href="https://www.boatdayapp.com/faq" target="_blank">FAQ's</a> for answers to common BoatDay questions
	</p>
	<div class="text-center"><br/>
		<a href="#/dashboard" class="btn btn-default btm-xs">Back to Host Center</a>
	</div>
</header>
<form class="form-horizontal">
	<div class="container">

		<div class="row">
			<div class="col-sm-10">
				<h4>What is on your mind?</h4>
			</div>
			<div class="col-sm-offset-1 col-sm-10 col-md-8 col-lg-7">
				<div class="form-group has-feedback">
					<label for="category" class="col-sm-24 control-label">I have a question/comment about..</label>
					<div class="col-sm-24">
						<select class="input-small form-control" id="category" name="category">
							<option value="general" selected>General Feedback</option>
							<option value="host-status">Host Registration Status</option>
							<option value="update-account">Update Account Information</option>
							<option value="update-boat">Update Boat Information</option>
							<option value="insurance">Insurance</option>
							<option value="lost-found">Lost &amp; Found</option>
							<option value="captains">Captains</option>
							<option value="payment">Payment</option>
							<option value="guest-incident">Guest Incident or Concern </option>
						</select>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-11 col-sm-10 col-md-8 col-lg-7">
				<div class="form-group has-feedback">
					<label for="feedback" class="col-sm-24 control-label">Feedback</label>
					<div class="col-sm-24">
						<textarea rows="15" name="feedback" id="feedback" class="form-control"></textarea>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-11 col-sm-10 col-md-8 col-lg-7">
				<div class="form-group">
					<label for="file1" class="col-sm-24 control-label">File #1 <em>(optional)</em></label>
					<div class="col-sm-24">
						<input type="file" class="upload" id="file1" name="file1"/>
						<button type="button" class="btn btn-default btn-upload btn-sm" for="file1">Upload</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-11 col-sm-10 col-md-8 col-lg-7">
				<div class="form-group">
					<label for="file2" class="col-sm-24 control-label">File #2 <em>(optional)</em></label>
					<div class="col-sm-24">
						<input type="file" class="upload" id="file2" name="file2"/>
						<button type="button" class="btn btn-default btn-upload btn-sm" for="file2">Upload</button>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-11 col-sm-10 col-md-8 col-lg-7">
				<div class="form-group">
					<label for="file3" class="col-sm-24 control-label">File #3 <em>(optional)</em></label>
					<div class="col-sm-24">
						<input type="file" class="upload" id="file3" name="file3"/>
						<button type="button" class="btn btn-default btn-upload btn-sm" for="file3">Upload</button>
					</div>
				</div>
			</div>		
		</div>

		<div class="row">
			<div class="col-sm-offset-11 col-sm-10 col-md-8 col-lg-7">
				<button type="submit" class="btn btn-lg btn-block btn-primary">Send</button>
			</div>
		</div>
	</div>
</form>