<div class="row">
	<form class="col-sm-16 col-sm-offset-4 col-md-12 col-md-offset-6 col-lg-10 col-lg-offset-7 content animated pulse">
		<div class="row text-center">
			<img src="resources/home-logo.png" class="logo" />
		</div>
		
		<div class="row">
			<h1 class="text-center">Join BoatDay as a Host</h1>
			<p class="text-center">
				Host fun BoatDays. Meet new friends. Make Money.<br>
				Make better use of your boat!
			</p>
		</div>

		<div class="row">
			
			<div class="form-group col-xs-20 col-xs-offset-2">
				<button type="button" class="btn btn-block btn-lg btn-primary create-account">Create account</button> 
			</div>
			<div class="form-group col-xs-16 col-xs-offset-4 text-center">
				<a href="https://boatdayapp.com/hosts" target="_blank">Tell me more</a>
			</div>
		</div>

		<div class="split-lines"></div>
		
		<div class="row">
			<h4 class="text-center">Already have an account?</h4>
			<div class="form-group col-xs-20 col-xs-offset-2">
				<input type="email" name="email" class="form-control input-lg" placeholder="Email">
			</div>
			<div class="form-group col-xs-20 col-xs-offset-2">
				<input type="password" name="password" class="form-control input-lg" placeholder="Password">
			</div>
			<div class="form-group col-xs-20 col-xs-offset-2">
				<button type="submit" class="btn btn-block btn-lg btn-default" type="button">Sign-in</button>
				<div class="display-messages text-center"></div>
			</div>
		</div>

		<div class="row">
			<div class="text-center">
				<a href="#/forgot-password">Forgot Password?</a>
			</div>
		</div>

		

		

		<div class="row tell-more">
			<div class="text-center">
				<a href="https://www.boatdayapp.com">www.boatdayapp.com</a>
			</div>
		</div>
	</form>
</div>

<div class="row bottom-row">
	<div class="col-sm-8">
		<p class="text-center">
			“The BoatDay app creates a convenient way to easily connect boat and water enthusiasts eager for a day out on the water.”
		</p>
		<div class="text-center">
			<img src="resources/yahoo-finance-logo.png"/>
		</div>
	</div>
	<div class="col-sm-8">
		<p class="text-center">
			“Whether it be a day of fishing, paddleboarding, a catamaran with music and food, the idea is for it to be as simple, seamless, effortless, and comprehensive as possible.”
		</p>
		<div class="text-center">
			<img src="resources/new_times_logo.png"/>
		</div>
	</div>
	<div class="col-sm-8">
		<p class="text-center">
			“Enjoy the full boating experience by joining registered Hosts for everything from fishing, entertaining, cruising and more”
		</p>
		<div class="text-center">
			<img src="resources/theStreet_logo.png"/>
		</div>
	</div>
</div>



