<div class="wall">
	<!-- view auto generates cells -->
</div>
<div class="container content animated bounceInDown">
	<div class="row text-center">
		<img src="resources/logo.png" class="logo" />
	</div>
	<div class="row">
		<div class="col-lg-2 col-lg-offset-5 text-center">
			<div class="input-group input-group">
				<span class="input-group-addon glyphicon glyphicon-envelope"></span>
				<input type="email" name="email" class="form-control" placeholder="email">
			</div>
			<div class="input-group input-group">
				<span class="input-group-addon glyphicon glyphicon-lock"></span>
				<input type="email" name="email" class="form-control" placeholder="password">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button">
						<span class="glyphicon glyphicon-log-in"></span>
					</button>
				</span>
			</div>

			<p class="or">- or -</p>
			<a href="#/sign-up/host" class="btn btn-primary">Sign up</a> 
		</div>
	</div>
</div>

