<form class="form-horizontal"> 
	<div class="container"> 
		<div class="panel panel-primary">

			<% if( type == "business" ) { %>

				<div class="panel-heading area-business">
					<h3 class="panel-title text-center">Business information</h3>
				</div>

				<div class="panel-body area-business">
					<div class="col-sm-8">
						<div class="form-group">
							<label for="businessName" class="col-sm-6 control-label" >Business Name</label>
							<div class="col-sm-6">
								<input value="Peer-to-Pier Technologies LLC" type="text" class="form-control" id="businessName" name="businessName" placeholder="Legal Business Name">
							</div>
						</div>
						<div class="form-group">
							<label for="businessEin" class="col-sm-6 control-label">Employer Identification Number</label>
							<div class="col-sm-6">
								<div class="input-group">
									<div class="input-group-addon"><strong>EIN</strong></div>
									<input value="46-4074689" type="text" class="form-control" id="businessEin" name="businessEin" placeholder="##-#######">
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="businessContact" class="col-sm-6 control-label">Business Contact</label>
							<div class="col-sm-6">
								<input value="Daniel Costa" type="text" class="form-control" id="businessContact" name="businessContact" placeholder="Enter the person organizing of the events">
							</div>
						</div>
						<div class="form-group">
							<label for="phone" class="col-sm-6 control-label">Phone Number</label>
							<div class="col-sm-6">
								<input value="324-231-1234" type="text" class="form-control" id="phone" name="phone" placeholder="### ### ####">
							</div>
						</div>
						<div class="form-group">
							<label for="street" class="col-sm-6 control-label">Registred street</label>
							<div class="col-sm-6">
								<input value="9861 SW 117th Ct" type="text" class="form-control" name="street" id="street" placeholder="Enter your complete Street">
							</div>
						</div>
						<div class="form-group">
							<label for="apartmentNumber" class="col-sm-6 control-label">Building Number</label>
							<div class="col-sm-6">
								<input value="2307" type="text" class="form-control" id="apartmentNumber" name="apartmentNumber" placeholder="Apartment Number">
							</div>
						</div>
						<div class="form-group">
							<label for="city" class="col-sm-6 control-label">City</label>
							<div class="col-sm-6">
								<input value="Miami" type="text" class="form-control" id="city" name="city" placeholder="Enter your city">
							</div>
						</div>
						<div class="form-group">
							<label for="zipCode" class="col-sm-6 control-label">Zip code</label>
							<div class="col-sm-6">
								<input value="33186" type="text" class="form-control" id="zipCode" name="zipCode" placeholder="Enter your complete zip code">
							</div>
						</div>
						<div class="form-group">
							<label for="state" class="col-sm-6 control-label">State</label>
							<div class="col-sm-6">
								<select class="col-sm-4 form-control" id="state" name="state">
									<option value="AL">Alabama</option>
									<option value="AK">Alaska</option>
									<option value="AS">American Samoa</option>
									<option value="AZ">Arizona</option>
									<option value="AR">Arkansas</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="DC">Dist. of Columbia</option>
									<option value="FL" selected>Florida</option>
									<option value="GA">Georgia</option>
									<option value="GU">Guam</option>
									<option value="HI">Hawaii</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MH">Marshall Islands</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="FM">Micronesia</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="MP">Northern Marianas</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PW">Palau</option>
									<option value="PA">Pennsylvania</option>
									<option value="PR">Puerto Rico</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="VI">Virgin Islands</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="alert-info alert">
							<span class="glyphicon glyphicon-info-sign"></span> bla bla
						</div>
					</div>
				</div> 

			<% } else { %>

				<div class="panel-heading area-personal">
					<h3 class="panel-title text-center">Personal information</h3>
				</div>

				<div class="panel-body area-personal">
					<div class="col-sm-8">
						<div class="form-group">
							<label for="personalFirstname" class="col-sm-6 control-label">First Name</label>
							<div class="col-sm-6">
								<input value="Daniel" type="text" class="form-control" id="personalFirstname" name="personalFirstname" placeholder="First Name">
							</div>
						</div>
						<div class="form-group">
						 	<label for="personalLastname" class="col-sm-6 control-label">Last Name</label>
						 	<div class="col-sm-6">
								<input value="Costa" type="text" class="form-control" id="personalLastname" name="personalLastname" placeholder="Last Name">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-6 control-label">Date of Birth</label>
							<div class="col-sm-6">
								<!-- <input value="12/07/1988" type="text" class="form-control" id="personalBirthdate" name="personalBirthdate" placeholder="mm / dd / yyyy"> -->
								<div class="col-sm-5" style="padding-left:0px">
									<select class="input-small form-control" id="personalBirthdateMonth" name="personalBirthdateMonth">
										<option value="01">January</option>
										<option value="02">February</option>
										<option value="03">March</option>
										<option value="04">123</option>
										<option value="05">123</option>
										<option value="06">123</option>
										<option value="07">123</option>
										<option value="08">123</option>
										<option value="09">123</option>
										<option value="10">123</option>
										<option value="11">123</option>
										<option value="12">123</option>
									</select>
								</div>

								<div class="col-sm-3" style="padding-left:0px;padding-right : 0px">
									<select class="input-small form-control" id="personalBirthdateDay" name="personalBirthdateDay">
										<option value="01">1st</option>
										<option value="02">2nd</option>
									</select>
								</div>

								<div class="col-sm-4" style="padding-right:0px">
									<select class="input-small form-control" id="personalBirthdateYear" name="personalBirthdateYear">
									</select>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label for="phone" class="col-sm-6 control-label">Phone number</label>
							<div class="col-sm-6">
								<input value="123-111-4435" type="text" class="form-control" id="phone" name="phone" placeholder="### ### ####">
							</div>
						</div>
						<div class="form-group">
							<label for="personalSSN" class="col-sm-6 control-label">4 last digits of SSN</label>
							<div class="col-sm-6">
								<input value="3692" type="text" class="form-control" id="personalSSN" name="personalSSN" placeholder="4 last digits of your social security number">
							</div>
						</div>
						<div class="form-group">
							<label for="street" class="col-sm-6 control-label">Street</label>
							<div class="col-sm-6">
								<input value="9861 SW 117th CT" type="text" class="form-control" id="street" name="street" placeholder="Enter your complete street name">
							</div>
						</div>
						<div class="form-group">
							<label for="apartmentNumber" class="col-sm-6 control-label">Apartment Number</label>
							<div class="col-sm-6">
								<input value="1903" type="text" class="form-control" id="apartmentNumber" name="apartmentNumber" placeholder="Apartment Number">
							</div>
						</div>
						<div class="form-group">
							<label for="city" class="col-sm-6 control-label">City</label>
							<div class="col-sm-6">
								<input value="Miami" type="text" class="form-control" id="city" name="city" placeholder="Enter your city">
							</div>
						</div>
						<div class="form-group">
							<label for="zipCode" class="col-sm-6 control-label">Zip code</label>
							<div class="col-sm-6">
								<input value="33186" type="text" class="form-control" id="zipCode" name="zipCode" placeholder="Enter your complete zip code">
							</div>
						</div>
						<div class="form-group">
							<label for="state" class="col-sm-6 control-label">State</label>
							<div class="col-sm-6">
								<select class="col-sm-4 form-control" id="state" name="state">
									<option value="AL">Alabama</option>
									<option value="AK">Alaska</option>
									<option value="AS">American Samoa</option>
									<option value="AZ">Arizona</option>
									<option value="AR">Arkansas</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DE">Delaware</option>
									<option value="DC">Dist. of Columbia</option>
									<option value="FL" selected>Florida</option>
									<option value="GA">Georgia</option>
									<option value="GU">Guam</option>
									<option value="HI">Hawaii</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MH">Marshall Islands</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="FM">Micronesia</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="MP">Northern Marianas</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PW">Palau</option>
									<option value="PA">Pennsylvania</option>
									<option value="PR">Puerto Rico</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="VI">Virgin Islands</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="alert-info alert">
							<span class="glyphicon glyphicon-info-sign"></span> bla bla
						</div>
					</div>
				</div>

			<% } %>

			<div class="panel-heading">
				<h3 class="panel-title text-center">Payment information</h3>
			</div>
			<div class="panel-body">
				<div class="col-sm-8">
					<div class="form-group">
						<label for="paymentMethod" class="col-sm-6 control-label">Payment method</label>
						<div class="col-sm-6">
							<select class="form-control" id="paymentMethod" name="paymentMethod">
								<option value="deposit" selected>Direct deposit</option>
								<% if( type == "personal" ) { %>
									<option value="paypal">Paypal</option>
									<option value="venmo">Venmo</option>
								<% } %>	
							</select>
						</div>
				 	</div>

				 	<div class="paymentMethodContainer deposit">
						<div class="form-group">
						   <label for="accountHolder" class="col-sm-6 control-label">Account Holder</label>
						   <div class="col-sm-6">
							  <input value="Daniel Costa" type="text" class="form-control" id="accountHolder" name="accountHolder" placeholder="Account holder">
						   </div>
						</div>
						<div class="form-group">
						   <label for="accountNumber" class="col-sm-6 control-label">Account Number</label>
						   <div class="col-sm-6">
						 		<input value="1039531801" type="text" class="form-control" id="accountNumber" name="accountNumber" placeholder="Account Number">
						   </div>
						</div>
						<div class="form-group">
							<label for="accountRouting" class="col-sm-6 control-label">Routing Number</label>
							<div class="col-sm-6">
					 			 <input value="067014822" type="text" class="form-control" id="accountRouting" name="accountRouting" placeholder="Routing number">
					 		 </div>
						</div>
					</div>

					<% if( type == "personal" ) { %>
						<div class="paymentMethodContainer paypal">
							<div class="form-group">
								<label for="paypalEmail" class="col-sm-6 control-label">Paypal Email</label>
								<div class="col-sm-6">
									<input value="paypal@boatdayapp.com" type="email" class="form-control" id="paypalEmail" name="paypalEmail" placeholder="Paypal Email">
								</div>
							</div>
						</div>
						<div class="paymentMethodContainer venmo">
							<div class="form-group">
								<label for="venmoEmail" class="col-sm-6 control-label">Venmo Email</label>
								<div class="col-sm-6">
									<input value="venmo@boatdayapp.com" type="email" class="form-control" id="venmoEmail" name="venmoEmail" placeholder="Venmo Email">
								</div>
							</div>
							<div class="form-group">
								<label for="venmoPhone" class="col-sm-6 control-label">Venmo Phone Number</label>
								<div class="col-sm-6">
									<input value="223-982-7432" type="text" class="form-control" id="venmoPhone" name="venmoPhone" placeholder="Venmo Phone Number">
								</div>
							</div>
						</div>
					<% } %>
				</div>
				<div class="col-sm-4 paymentMethodContainer deposit">
					<div class="alert-info alert">
						<span class="glyphicon glyphicon-info-sign"></span> account
					</div>
				</div>
				<div class="col-sm-4 paymentMethodContainer paypal">
					<div class="alert-info alert">
						<span class="glyphicon glyphicon-info-sign"></span> paypal
					</div>
				</div>
				<div class="col-sm-4 paymentMethodContainer venmo">
					<div class="alert-info alert">
						<span class="glyphicon glyphicon-info-sign"></span> You don't have to fill <strong>Venmo Email</strong> &amp; <strong>Venmo Phone Number</strong>. As a Venmo user, you have to fill the only one you use for your payments.
					</div>
				</div>
			</div>  

			<div class="panel-footer text-center">
				<button type="submit" class="btn btn-primary btn-lg">Register as a host</button>
			</div>
		</div>
	</div>
</form>