<% if(Parse.User.current().get("status") == 'complete') { %>
	<div class="top-nav"></div>
<% } %>

<% 
	if(birthdate) {
		birthdate = new Date(birthdate.iso);
		var birthdateDay = birthdate.getDate();
		var birthdateMonth = birthdate.getMonth() + 1;
	}

	var ro = status == 'complete' ? 'readonly disabled' : '';
%>

<header>
	<h1 class="text-center">BoatDay - Sign Up</h1>
	<p class="text-center">Complete now and join BoatDay...</p>
	<div class="text-center steps">
		<img src="resources/signup-step-1.png" />
	</div>
</header>
<form class="form-horizontal">
	<div class="container">
		<div class="row ">
			<div class="col-left col-lg-6 col-lg-offset-6">
				<h4 class="text-right">Tell us about you...</h4>
			</div>
			<div class="col-right col-lg-8">
				<div class="form-group has-feedback">
					<label for="firstname" class="col-sm-24 control-label">First Name</label>
					<div class="col-sm-24">
						<input value="<%= firstname ? firstname : '' %>"  type="text" class="form-control" id="firstname" name="firstname" <%= ro %>>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="lastname" class="col-sm-24 control-label">Surname</label>
					<div class="col-sm-24">
						<input value="<%= lastname ? lastname : '' %>" type="text" class="form-control" id="lastname" name="lastname" <%= ro %>>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-24 control-label">
						Date of Birth 
						<span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="bottom" title="You must be at least 22 years old to sign up as a BoatDay Host."></span>
					</label>
					<div class="col-sm-10">
						<select class="form-control" id="birthdateMonth" name="birthdateMonth" <%= ro %>>
							<option value="1" <%= birthdateMonth && birthdateMonth == 1 ? 'selected' : '' %>>January</option>
							<option value="2" <%= birthdateMonth && birthdateMonth == 2 ? 'selected' : '' %>>February</option>
							<option value="3" <%= birthdateMonth && birthdateMonth == 3 ? 'selected' : '' %>>March</option>
							<option value="4" <%= birthdateMonth && birthdateMonth == 4 ? 'selected' : '' %>>April</option>
							<option value="5" <%= birthdateMonth && birthdateMonth == 5 ? 'selected' : '' %>>May</option>
							<option value="6" <%= birthdateMonth && birthdateMonth == 6 ? 'selected' : '' %>>June</option>
							<option value="7" <%= birthdateMonth && birthdateMonth == 7 ? 'selected' : '' %>>July</option>
							<option value="8" <%= birthdateMonth && birthdateMonth == 8 ? 'selected' : '' %>>August</option>
							<option value="9" <%= birthdateMonth && birthdateMonth == 9 ? 'selected' : '' %>>September</option>
							<option value="10" <%= birthdateMonth && birthdateMonth == 10 ? 'selected' : '' %>>October</option>
							<option value="11" <%= birthdateMonth && birthdateMonth == 11 ? 'selected' : '' %>>November</option>				
							<option value="12" <%= birthdateMonth && birthdateMonth == 12 ? 'selected' : '' %>>December</option>
						</select>
					</div>
					<div class="col-sm-6">
						<select class="form-control" id="birthdateDay" name="birthdateDay" <%= ro %>>
							<option value="1"  <%= birthdateDay && birthdateDay == 1  ? 'selected' : '' %>>1st</option>
							<option value="2"  <%= birthdateDay && birthdateDay == 2  ? 'selected' : '' %>>2nd</option>
							<option value="3"  <%= birthdateDay && birthdateDay == 3  ? 'selected' : '' %>>3rd</option>
							<option value="4"  <%= birthdateDay && birthdateDay == 4  ? 'selected' : '' %>>4th</option>
							<option value="5"  <%= birthdateDay && birthdateDay == 5  ? 'selected' : '' %>>5th</option>
							<option value="6"  <%= birthdateDay && birthdateDay == 6  ? 'selected' : '' %>>6th</option>
							<option value="7"  <%= birthdateDay && birthdateDay == 7  ? 'selected' : '' %>>7th</option>
							<option value="8"  <%= birthdateDay && birthdateDay == 8  ? 'selected' : '' %>>8th</option>
							<option value="9"  <%= birthdateDay && birthdateDay == 9  ? 'selected' : '' %>>9th</option>
							<option value="10" <%= birthdateDay && birthdateDay == 10 ? 'selected' : '' %>>10th</option>
							<option value="11" <%= birthdateDay && birthdateDay == 11 ? 'selected' : '' %>>11th</option>
							<option value="12" <%= birthdateDay && birthdateDay == 12 ? 'selected' : '' %>>12th</option>
							<option value="13" <%= birthdateDay && birthdateDay == 13 ? 'selected' : '' %>>13th</option>
							<option value="14" <%= birthdateDay && birthdateDay == 14 ? 'selected' : '' %>>14th</option>
							<option value="15" <%= birthdateDay && birthdateDay == 15 ? 'selected' : '' %>>15th</option>
							<option value="16" <%= birthdateDay && birthdateDay == 16 ? 'selected' : '' %>>16th</option>
							<option value="17" <%= birthdateDay && birthdateDay == 17 ? 'selected' : '' %>>17th</option>
							<option value="18" <%= birthdateDay && birthdateDay == 18 ? 'selected' : '' %>>18th</option>
							<option value="19" <%= birthdateDay && birthdateDay == 19 ? 'selected' : '' %>>19th</option>
							<option value="20" <%= birthdateDay && birthdateDay == 20 ? 'selected' : '' %>>20th</option>
							<option value="21" <%= birthdateDay && birthdateDay == 21 ? 'selected' : '' %>>21st</option>
							<option value="22" <%= birthdateDay && birthdateDay == 22 ? 'selected' : '' %>>22nd</option>
							<option value="23" <%= birthdateDay && birthdateDay == 23 ? 'selected' : '' %>>23rd</option>
							<option value="24" <%= birthdateDay && birthdateDay == 24 ? 'selected' : '' %>>24th</option>
							<option value="25" <%= birthdateDay && birthdateDay == 25 ? 'selected' : '' %>>25th</option>
							<option value="26" <%= birthdateDay && birthdateDay == 26 ? 'selected' : '' %>>26th</option>
							<option value="27" <%= birthdateDay && birthdateDay == 27 ? 'selected' : '' %>>27th</option>
							<option value="28" <%= birthdateDay && birthdateDay == 28 ? 'selected' : '' %>>28th</option>
							<option value="29" <%= birthdateDay && birthdateDay == 29 ? 'selected' : '' %>>29th</option>
							<option value="30" <%= birthdateDay && birthdateDay == 30 ? 'selected' : '' %>>30th</option>
							<option value="31" <%= birthdateDay && birthdateDay == 31 ? 'selected' : '' %>>31st</option>
						</select>
					</div>
					<div class="col-sm-8">
						<select class="form-control" id="birthdateYear" name="birthdateYear" <%= ro %>></select>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="phone" class="col-sm-24 control-label">Phone Number</label>
					<div class="col-sm-24">
						<input value="<%= phone ? phone : '' %>" type="text" class="form-control" id="phone" name="phone" placeholder="area code and all!" <%= ro %>>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="street" class="col-sm-24 control-label">Address</label>
					<div class="col-sm-24 address-group">
							<input value="<%= street ? street : '' %>" type="text" class="form-control" id="street" name="street" placeholder="in case we have to send you paper" <%= ro %>>
							<input value="<%= city ? city : '' %>" type="text" class="form-control" id="city" name="city" placeholder="city" <%= ro %>>
							<input value="<%= zipCode ? zipCode : '' %>" type="text" class="form-control" id="zipCode" name="zipCode" placeholder="zip code" <%= ro %>>
							<select class="col-sm-24 form-control" id="state" name="state" <%= ro %>>
								<option value="AL" <%= state && state == "AL" ? 'selected' : '' %>>Alabama</option>
								<option value="AK" <%= state && state == "AK" ? 'selected' : '' %>>Alaska</option>
								<option value="AS" <%= state && state == "AS" ? 'selected' : '' %>>American Samoa</option>
								<option value="AZ" <%= state && state == "AZ" ? 'selected' : '' %>>Arizona</option>
								<option value="AR" <%= state && state == "AR" ? 'selected' : '' %>>Arkansas</option>
								<option value="CA" <%= state && state == "CA" ? 'selected' : '' %>>California</option>
								<option value="CO" <%= state && state == "CO" ? 'selected' : '' %>>Colorado</option>
								<option value="CT" <%= state && state == "CT" ? 'selected' : '' %>>Connecticut</option>
								<option value="DE" <%= state && state == "DE" ? 'selected' : '' %>>Delaware</option>
								<option value="DC" <%= state && state == "DC" ? 'selected' : '' %>>Dist. of Columbia</option>
								<option value="FL" <%= state && state == "FL" ? 'selected' : '' %>>Florida</option>
								<option value="GA" <%= state && state == "GA" ? 'selected' : '' %>>Georgia</option>
								<option value="GU" <%= state && state == "GU" ? 'selected' : '' %>>Guam</option>
								<option value="HI" <%= state && state == "HI" ? 'selected' : '' %>>Hawaii</option>
								<option value="ID" <%= state && state == "ID" ? 'selected' : '' %>>Idaho</option>
								<option value="IL" <%= state && state == "IL" ? 'selected' : '' %>>Illinois</option>
								<option value="IN" <%= state && state == "IN" ? 'selected' : '' %>>Indiana</option>
								<option value="IA" <%= state && state == "IA" ? 'selected' : '' %>>Iowa</option>
								<option value="KS" <%= state && state == "KS" ? 'selected' : '' %>>Kansas</option>
								<option value="KY" <%= state && state == "KY" ? 'selected' : '' %>>Kentucky</option>
								<option value="LA" <%= state && state == "LA" ? 'selected' : '' %>>Louisiana</option>
								<option value="ME" <%= state && state == "ME" ? 'selected' : '' %>>Maine</option>
								<option value="MD" <%= state && state == "MD" ? 'selected' : '' %>>Maryland</option>
								<option value="MH" <%= state && state == "MH" ? 'selected' : '' %>>Marshall Islands</option>
								<option value="MA" <%= state && state == "MA" ? 'selected' : '' %>>Massachusetts</option>
								<option value="MI" <%= state && state == "MI" ? 'selected' : '' %>>Michigan</option>
								<option value="FM" <%= state && state == "FM" ? 'selected' : '' %>>Micronesia</option>
								<option value="MN" <%= state && state == "MN" ? 'selected' : '' %>>Minnesota</option>
								<option value="MS" <%= state && state == "MS" ? 'selected' : '' %>>Mississippi</option>
								<option value="MO" <%= state && state == "MO" ? 'selected' : '' %>>Missouri</option>
								<option value="MT" <%= state && state == "MT" ? 'selected' : '' %>>Montana</option>
								<option value="NE" <%= state && state == "NE" ? 'selected' : '' %>>Nebraska</option>
								<option value="NV" <%= state && state == "NV" ? 'selected' : '' %>>Nevada</option>
								<option value="NH" <%= state && state == "NH" ? 'selected' : '' %>>New Hampshire</option>
								<option value="NJ" <%= state && state == "NJ" ? 'selected' : '' %>>New Jersey</option>
								<option value="NM" <%= state && state == "NM" ? 'selected' : '' %>>New Mexico</option>
								<option value="NY" <%= state && state == "NY" ? 'selected' : '' %>>New York</option>
								<option value="NC" <%= state && state == "NC" ? 'selected' : '' %>>North Carolina</option>
								<option value="ND" <%= state && state == "ND" ? 'selected' : '' %>>North Dakota</option>
								<option value="MP" <%= state && state == "MP" ? 'selected' : '' %>>Northern Marianas</option>
								<option value="OH" <%= state && state == "OH" ? 'selected' : '' %>>Ohio</option>
								<option value="OK" <%= state && state == "OK" ? 'selected' : '' %>>Oklahoma</option>
								<option value="OR" <%= state && state == "OR" ? 'selected' : '' %>>Oregon</option>
								<option value="PW" <%= state && state == "PW" ? 'selected' : '' %>>Palau</option>
								<option value="PA" <%= state && state == "PA" ? 'selected' : '' %>>Pennsylvania</option>
								<option value="PR" <%= state && state == "PR" ? 'selected' : '' %>>Puerto Rico</option>
								<option value="RI" <%= state && state == "RI" ? 'selected' : '' %>>Rhode Island</option>
								<option value="SC" <%= state && state == "SC" ? 'selected' : '' %>>South Carolina</option>
								<option value="SD" <%= state && state == "SD" ? 'selected' : '' %>>South Dakota</option>
								<option value="TN" <%= state && state == "TN" ? 'selected' : '' %>>Tennessee</option>
								<option value="TX" <%= state && state == "TX" ? 'selected' : '' %>>Texas</option>
								<option value="UT" <%= state && state == "UT" ? 'selected' : '' %>>Utah</option>
								<option value="VT" <%= state && state == "VT" ? 'selected' : '' %>>Vermont</option>
								<option value="VA" <%= state && state == "VA" ? 'selected' : '' %>>Virginia</option>
								<option value="VI" <%= state && state == "VI" ? 'selected' : '' %>>Virgin Islands</option>
								<option value="WA" <%= state && state == "WA" ? 'selected' : '' %>>Washington</option>
								<option value="WV" <%= state && state == "WV" ? 'selected' : '' %>>West Virginia</option>
								<option value="WI" <%= state && state == "WI" ? 'selected' : '' %>>Wisconsin</option>
								<option value="WY" <%= state && state == "WY" ? 'selected' : '' %>>Wyoming</option>
							</select>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="SSN" class="col-sm-24 control-label">Social Security Number <em>(last 4 digits only)</em></label>
					<div class="col-sm-24">
						<input value="<%= SSN ? SSN : '' %>" type="text" class="form-control" id="SSN" name="SSN" placeholder="for our Host background screeining" <%= ro %>>
					</div>
				</div>
			</div>
		</div>
		<div class="split col-lg-14 col-lg-offset-6"></div>
		<div class="row">
			<div class="col-left col-lg-12">
				<h4 class="text-right">Are you a company?</h4>
			</div>
			<div class="col-right col-lg-8">
				<div class="form-group">
					<label for="businessName" class="col-sm-24 control-label" >Business Name</label>
					<div class="col-sm-24">
						<input value="<%= businessName ? businessName : '' %>" type="text" class="form-control" id="businessName" name="businessName" placeholder="company name (optional)" <%= ro %>>
					</div>
				</div>
				<div class="form-group">
					<label for="businessEin" class="col-sm-24 control-label">Employer Identification Number</label>
					<div class="col-sm-24">
						<input value="<%= businessEin ? businessEin : '' %>" type="text" class="form-control" id="businessEin" name="businessEin" placeholder="(optional)" <%= ro %>>
					</div>
				</div>
			</div>
		</div>
		<div class="split col-lg-14 col-lg-offset-6"></div>
		<div class="row">
			<div class="col-left col-lg-12">
				<h4 class="text-right">My Licenses &amp; Certifications</h4>
				<h6 class="text-right">(if applicable)</h6>
			</div>
			<div class="col-right col-lg-8">
				<div class="form-group">
					<label for="certBSC" class="col-sm-24 control-label">Boater Safety Course</label>
					<div class="col-sm-24">
						<button type="button" class="btn btn-block btn-default btn-upload" for="certBSC">Upload file</button>
						<input value="" type="file" class="upload" id="certBSC" name="certBSC">
					</div>
				</div>
				<div class="form-group">
					<label for="certCCL" class="col-sm-24 control-label">Charterboat Captain <em>("6 Pack")</em></label>
					<div class="col-sm-24">
						<button type="button" class="btn btn-block btn-default btn-upload" for="certCCL">Upload file</button>
						<input value="" type="file" class="upload" id="certCCL" name="certCCL">
					</div>
				</div>
				<div class="form-group">
					<label for="certMCL" class="col-sm-24 control-label">Master Captain's License</label>
					<div class="col-sm-24">
						<button type="button" class="btn btn-block btn-default btn-upload" for="certMCL">Upload file</button>
						<input value="" type="file" class="upload" id="certMCL" name="certMCL">
					</div>
				</div>
				<div class="form-group">
					<label for="certFL" class="col-sm-24 control-label">Fishing License</label>
					<div class="col-sm-24">
						<button type="button" class="btn btn-block btn-default btn-upload" for="certFL">Upload file</button>
						<input value="" type="file" class="upload" id="certFL" name="certFL">
					</div>
				</div>
				<div class="form-group">
					<label for="certSL" class="col-sm-24 control-label">Sailing Certification</label>
					<div class="col-sm-24">
						<button type="button" class="btn btn-block btn-default btn-upload" for="certSL">Upload file</button>
						<input value="" type="file" class="upload" id="certSL" name="certSL">
					</div>
				</div>
				<div class="form-group">
					<label for="certFAC" class="col-sm-24 control-label">First Aid Certification</label>
					<div class="col-sm-24">
						<button type="button" class="btn btn-block btn-default btn-upload" for="certFAC">Upload file</button>
						<input value="" type="file" class="upload" id="certFAC" name="certFAC">
					</div>
				</div>
			</div>
		</div>
		<div class="split col-lg-14 col-lg-offset-6"></div>
		<div class="row">
			<div class="col-left col-lg-12">
				<h4 class="text-right">How do we pay you?</h4>
			</div>
			<div class="col-right col-lg-8">
				<div class="form-group">
					<label for="accountHolder" class="col-sm-24 control-label">Account Holder</label>
					<div class="col-sm-24">
						<input value="<%= accountHolder ? accountHolder : '' %>" type="text" class="form-control" id="accountHolder" name="accountHolder">
					</div>
				</div>
				<div class="form-group">
					<label for="accountNumber" class="col-sm-24 control-label">Account Number</label>
					<div class="col-sm-24">
						<input value="<%= accountNumber ? accountNumber : '' %>" type="text" class="form-control" id="accountNumber" name="accountNumber">
					</div>
				</div>
				<div class="form-group">
					<label for="accountRouting" class="col-sm-24 control-label">Routing Number</label>
					<div class="col-sm-24">
						<input value="<%= accountRouting ? accountRouting : '' %>" type="text" class="form-control" id="accountRouting" name="accountRouting">
					</div>
				</div>
				<button type="submit" class="btn btn-block btn-lg btn-primary">Next &amp; last: BoatDay Profile</button>
			</div>
		</div>
	</div>
</form>