<form class="col-sm-16 col-sm-offset-4 col-md-12 col-md-offset-6 col-lg-10 col-lg-offset-7 content animated pulse">
	<div class="row text-center">
		<img src="resources/home-logo.png" class="logo" />
	</div>
	<div class="row">
		<div class="form">
			<h4 class="text-center">Invalid link</h4>
			<div class="form-group col-sm-22 col-sm-offset-1">
				<p class="text-center">
					Oops... this link is invalid.
				</p>
			</div>
		</div>
		<div class="col-sm-24 text-center">
			<a href="#/home">Back</a>
		</div>
	</div>
</form>