<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<% if( title ) { %>
				<div class="modal-header">
					<% if( closeButton ) { %>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<% } %>
					<h4 class="modal-title"><%= title %></h4>
				</div>
			<% } %>
			<div class="modal-body">
				<%= body %>
			</div>
			<div class="modal-footer">
				<% if( cancelButton ) { %>
					<button type="button" class="btn btn-default" data-dismiss="modal">
						<%= cancelButtonText %>
					</button>
				<% } %>
				<% if( noButton ) { %>
					<button type="button" class="btn btn-primary btn-no">
						<%= noButtonText %>
					</button>
				<% } %>
				<% if( yesButton ) { %>
					<button type="button" class="btn btn-primary btn-yes">
						<%= yesButtonText %>
					</button>
				<% } %>
			</div>
		</div>
	</div>
</div>