<nav class="navbar navbar-default">
  
  <div class="container-fluid">
    
    <a href="#/help-center" class="spread-word pull-left" data-toggle="dropdown">Spread the word</a>
      <ul class="dropdown-menu spread-word-list">
        <li>
            <style>
              .load-social span {
                font-size: 1px;
                display: inline-block;
                margin: 0px 2px;
              }
            </style>
          <div class="col-sm-24 load-social">
            <span>
              <div class="fb-like" data-href="https://www.facebook.com/BoatDayapp" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
            </span>
            <span>
              <div class="fb-share-button" data-href="https://www.facebook.com/BoatDayapp" data-layout="button"></div>
            </span>
            <span>
              <div class="fb-send" data-href="https://www.facebook.com/BoatDayapp"></div>
            </span>
            <span>
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.boatdayapp.com" data-count="none" data-text="Just became a Host on @BoatDayApp! Starting June 10th, download the App and join my BoatDays." data-hashtags="BetterBoating" target="_blank">Tweet</a>
            </span>
            <span>
              <a href="https://twitter.com/BoatDayApp" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" target="_blank">Follow @BoatDayApp</a>
            </span>
            <a href="https://instagram.com/BoatDayApp" style="margin:0px;height:20px;width:20px;line-height:auto;display: inline-block;position:relative; top:-5px" target="_blank"><img src="resources/ico-instagram.png" alt="Instagram" /></a>
          </div>
        </li>
        
    </ul>

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <div class="collapse navbar-collapse" id="bs-collapse-1">
      <ul class="nav navbar-nav navbar-right" style="position:relative; z-index:999; background-color:#EAF1F4;">
        
        <li><a href="#/help-center" class="help-center">Help Center</a></li>
  			
        <li>
  				<a href="#/my-account" class="my-account">
            <div class="pull-left">
              <%= Parse.User.current().get('profile').get('displayName') %>
            </div>
  					
            <div class="profile pull-right" style="margin-left:10px; margin-top:-10px;">
              <div class="inner">
                <div class="obj-thumb profile-picture" data-id="<%= Parse.User.current().id %>" style="background-image:url(<%= Parse.User.current().get("profile").get("profilePicture").url() %>); height:40px; width:40px;"></div>
              </div>
            </div>
          </a>
  			</li>
  			
        <li><a href="#/sign-out" class="sign-out">Sign out</a></li>
          
      </ul>


      
    
    </div>
  </div>
</nav>
