<div class="nav left-menu">
	<a href="#/dashboard" class="brand">
		<img src="resources/logo.png" class="logo" style="margin-left:-10px;"/>
	</a>
	<a href="#/dashboard" class="menu-host-center">Dashboard</a>
	<a href="#/my-notifications" class="link menu-my-notifications">
		Messages
		<div class="total-notifications text-center" style="display:none;"></div>
	</a>
	<a href="#/boatday/new" class="link menu-new-boatday">New BoatDay</a>
	<a href="#/boat/new" class="link menu-new-boat hidden-xs">Add Boat</a>
	<a href="#/my-boatdays" class="link menu-my-boatdays">Past BoatDays</a>
</div>