<div class="nav left-menu">
	<a href="#/dashboard" class="brand">
		<img src="resources/logo.png" class="logo" />
	</a>
	<a href="#/dashboard" class="menu-host-center">&lt; Back</a>
	<a href="#/my-notifications" class="link menu-my-notifications">
		Messages
		<div class="total-notifications" style="display:none;"></div>
	</a>
	<a href="#/boatday/new" class="link menu-new-boatday">Add New<span class="hidden-sm"> BoatDay</span></a>
	<a href="#/boat/new" class="link menu-new-boat" style="display:none;">Add Boat</a>
	<a href="#/my-boatdays" class="link menu-my-boatdays">Past<span class="hidden-sm"> BoatDays</span></a>
</div>