<div class="row <%= read ? '' : 'not-open' %> <%= action != "boatday-request" ? 'row-remove' : '' %>" data-id="<%= id %>">
	
	<div class="col-md-3 col-sm-3 col-xs-5 profile">
		<div class="inner text-center">
			<% if( bd  ) { %>
				<img src="resources/ico-bd.png" />
			<% } else { %>
				<div class="obj-thumb profile-picture" data-id="<%= sender.id %>" style="background-image:url(<%= sender.get("profilePicture").url() %>);"></div>
			<% }  %>
		</div>
	</div>

	<div class="col-md-4 col-sm-4 col-xs-19">
		<div class="inner">
			<h3>
				<% if( bd  ) { %>
					BoatDay Team
				<% } else { %>
					<%= sender.get("displayName") %>
				<% } %>
			</h3>
			<span style="line-height:150%;"><%= dateStr %></span>
		</div>
	</div>

	<div class="col-md-13 col-sm-13 col-xs-19">
	<%
		var url = "";

		if( action == "certification-approved" ) {
		}
		if( action == "certification-denied" ) { 
		}
		if( action == "host-approved" ) {
		}
		if( action == "host-denied" ) {
		}
		if( action == "boat-approved" ) {
		}
		if( action == "boat-denied" ) {
		}
		if( action == "boatday-review" ) {
			url = 'onClick="location.href=\'#boatday-overview/'+boatdayId+'?show=request\'"';
		}
		if( action == "boatday-question" ) {
			url = 'onClick="location.href=\'#boatday-overview/'+boatdayId+'?show=question\'"';
		}
		if( action == "boatday-message" ) {
			url = 'onClick="location.href=\'#boatday-overview/'+boatdayId+'?show=message\'"';
		}
		if( action == "boatday-payment" ) {
			url = 'onClick="location.href=\'#boatday-overview/'+boatdayId+'?show=none\'"';
		}
		if( action == "boatday-request" ) {
			url = 'onClick="location.href=\'#boatday-overview/'+boatdayId+'?show=request\'"';
		}
		if( action == "bd-message" ) {
			url = 'onClick="location.href=\'#boatday-overview/'+boatdayId+'?show=message\'"';
		}

	%>
		<div class="inner <%= clickable %>" <%= url %> >
			<p>
				<% if( action == "certification-approved" ) { %>
					Your <a href="#/my-account"><%= message %></a> has been approved! You will now have a <a href="#/my-account"><%= message %></a> badge displayed on your BoatDay Profile. 
				 <% } %>

				<% if( action == "certification-denied" ) { %>
					We are unable to approve your <a href="#/my-account"><%= message %></a> at this time. Click on <a href="#/my-account"><%= message %></a> to learn more. 
				<% } %>

				<% if( action == "host-approved" ) { %>
					You have been approved as a BoatDay Host! 
				<% } %>
				
				<% if( action == "host-denied" ) { %>
					We are unable to approve you as a BoatDay Host. Click on <a href="#/my-account">My Account</a> to see the reason.
				<% } %>

				<% if( action == "boat-approved" ) { %>
					Your boat <a href="#/boat/<%= boatId %>"><%= boatName %></a> has been approved! Your BoatDays are now visible to Guests. 
				<% } %>
				
				<% if( action == "boat-denied" ) { %>
					We are unable approve your boat, <a href="#/boat/<%= boatId %>"><%= boatName %></a>, at this time.  Click on <a href="#/boat/<%= boatId %>"><%= boatName %></a> to learn more.
				<% } %>

				<% if( action == "boatday-review" ) { %>
					just left you a review <a href="#boatday-overview/<%= boatdayId %>?show=request"><%= boatdayName %></a>.
				<% } %>

				<% if( action == "boatday-question" ) { %>
					just asked a question for your BoatDay 
						<a href="#boatday-overview/<%= boatdayId %>?show=question"><%= boatdayName %></a>.
				<% } %>
				
				<% if( action == "boatday-message" ) { %>
					<a href="#boatday-overview/<%= boatdayId %>?show=message"><%= boatdayName %></a>.
				<% } %>

				<% if( action == "boatday-payment" ) { %>
					You just received $<%= amount %> contributions for your BoatDay 
						<a href="#boatday-overview/<%= boatdayId %>?show=none"><%= boatdayName %></a>.
				<% } %>
				
				<% if( action == "boatday-request" ) { %>
					has requested <%= seats %> seat(s) on your BoatDay 
						<a href="#boatday-overview/<%= boatdayId %>?show=request"><%= boatdayName %></a>.
				<% } %>

				<% if( action == "bd-message" ) { %>
					Message by someone. <%= message %>
				<% } %>
			</p>
			<em style="color: #aaa;"><%= timeStr %></em>
		</div>
	</div>

	<div class="col-md-4 col-sm-4 col-xs-5">
		<div class="inner text-center">
			<div class="action">
				<% if( action == "certification-approved" ) { %>
					<img src="resources/ico-certification.png" />
				 <% } %>

				<% if( action == "certification-denied" ) { %>
					<img src="resources/ico-certification.png" />
					<!-- <a href="#/my-account" class="btn btn-default btn-lg">My Account</a> -->
				<% } %>

				<% if( action == "host-approved" ) { %>
					<img src="resources/ico-host.png" />
				<% } %>
				
				<% if( action == "host-denied" ) { %>
					<img src="resources/ico-host.png" />
					<!-- <a href="#/my-account" class="btn btn-default btn-lg">My Account</a> -->
				<% } %>

				<% if( action == "boat-approved" ) { %>
					<img src="resources/ico-boat.png" />
				<% } %>
				
				<% if( action == "boat-denied" ) { %>
					<img src="resources/ico-boat.png" />
					<!-- <a href="" class="btn btn-default btn-lg" data-id="<%= boatId %>">Boat Profile</a> -->
				<% } %>

				<% if( action == "boatday-review" ) { %>
					<img src="resources/ico-stars-3.png" />
				<% } %>
				
				<% if( action == "boatday-message" ) { %>
					<img src="resources/ico-message.png" />
				<% } %>

				<% if( action == "boatday-payment" ) { %>
					<img src="resources/ico-payment.png" />
				<% } %>
				
				<% if( action == "boatday-request" ) { %>
				
					<% if( requestStatus == 'pending' ) { %>
						<button class="btn btn-default btn-lg open-notification accept approve-request pull-left" data-id="<%= requestId %>">
							<span class="hidden-sm">Accept</span>
							<span class="visible-sm glyphicon glyphicon-ok "></span>
						</button>
						<button class="btn btn-default btn-lg open-notification deny-request pull-right" data-id="<%= requestId %>">
							<span class="hidden-sm">Reject</span>
							<span class="visible-sm glyphicon glyphicon-remove "></span>
						</button>
					<% } %>

				<% } %>

				<% if( action == "bd-message" ) { %>
					<img src="resources/ico-info.png" />
				<% } %>
			</div>
			<div class="remove">
				<button class="btn btn-danger remove-notification">
					<span class="glyphicon glyphicon-trash"></span> Remove
				</button>
			</div>
		</div>
	</div>
	
	
</div>