<div class="row <%= read ? '' : 'not-open' %> <%= action != "boatday-request" ? 'row-remove' : '' %>" data-id="<%= id %>">
	
	<style type="text/css">
		.inner h3{
			font-size: 1.1em;
			margin-bottom: 2px;
			margin-top: 0px;
		}

		.inner p{
			line-height: 150%;
		}

	</style>

	<div class="col-sm-3 col-xs-10 col-md-offset-1 profile" style="margin-left:0px;">
		<div class="inner text-center">
			<% if( bd  ) { %>
				<img src="resources/ico-bd.png" />
			<% } else { %>
				<div class="obj-thumb profile-picture" data-id="<%= sender.id %>" style="background-image:url(<%= sender.get("profilePicture").url() %>);"></div>
			<% }  %>
		</div>
	</div>

	<div class="col-sm-4 col-xs-10">

		<div class="inner">

			<h3>
				<% if( bd  ) { %>
					BoatDay Team
				<% } else { %>
					<%= sender.get("displayName") %>
				<% } %>
			</h3>
			<span style="line-height:150%;"><%= dateStr %></span>
		</div>

	</div>


<% if( action == "certification-approved" ) { %>
	<div class="col-sm-12 col-xs-10">
		<div class="inner">
			<p>
				Your <a href="#/my-account"><%= message %></a> has been approved! You will now have a <a href="#/my-account"><%= message %></a> badge displayed on your BoatDay Profile.
			</p>
			<em style="color: #aaa;"><%= timeStr %></em>
		</div>
	</div>
<% } %>

<% if( action == "certification-denied" ) { %>
	<div class="col-sm-12 col-xs-10">
		<div class="inner">
			<p>
				We are unable to approve your <a href="#/my-account"><%= message %></a> at this time. Click on <a href="#/my-account"><%= message %></a> to learn more. 
			</p>
			<em style="color: #aaa;"><%= timeStr %></em>
		</div>
	</div>		
<% } %>

<% if( action == "host-approved" ) { %>
	<div class="col-sm-12 col-xs-10">
		<div class="inner">
			<p>
				You have been approved as a BoatDay Host! 
			</p>
			<em style="color: #aaa;"><%= timeStr %></em>
		</div>
	</div>
<% } %>
				
<% if( action == "host-denied" ) { %>
	<div class="col-sm-12 col-xs-10" >
		<div class="inner">
			<p>
				We are unable to approve you as a BoatDay Host. Click on <a href="#/my-account">My Account</a> to see the reason.
			</p>
			<em style="color: #aaa;"><%= timeStr %></em>
		</div>
	</div>
<% } %>

<% if( action == "boat-approved" ) { %>
	<div class="col-sm-12 col-xs-10" >
		<div class="inner">
			<p>
				Your boat <a href="#/boat/<%= boatId %>"><%= boatName %></a> has been approved! Your BoatDays are now visible to Guests.
			</p>
			<em style="color: #aaa;"><%= timeStr %></em>
		</div>
	</div> 
<% } %>
				
<% if( action == "boat-denied" ) { %>
	<div class="col-sm-12 col-xs-10" >
		<div class="inner">
			<p>
				We are unable approve your boat, <a href="#/boat/<%= boatId %>"><%= boatName %></a>, at this time.  Click on <a href="#/boat/<%= boatId %>"><%= boatName %></a> to learn more.
			</p>
			<em style="color: #aaa;"><%= timeStr %></em>
		</div>
	</div>
<% } %>

<% if( action == "boatday-review" ) { %>
	<div class="col-sm-12 col-xs-10"  style="border:1px solid red; cursor:pointer;" onClick="location.href='#boatday-overview/<%= boatdayId %>?show=request';">
		<div class="inner">
			<p>
				just left you a review.
			</p>
			<em style="color: #aaa;"><%= timeStr %></em>
		</div>
	</div>
<% } %>

<% if( action == "boatday-question" ) { 
	var redirectTo = '#boatday-overview/' + boatdayId + '?show=question';
	if( boatdayIsPast ){
		redirectTo = '#boatday-overview/' + boatdayId + '?show=request';
	}
%>
	<div class="col-sm-12 col-xs-10"  style="cursor:pointer;" onClick="location.href='<%= redirectTo %>';">
		<div class="inner">
			<p>
				just asked a question for your BoatDay <a href="<%= redirectTo %>"><%= boatdayName %></a>.
			</p>
			<em style="color: #aaa;"><%= timeStr %></em>
		</div>
	</div>
<% } %>
				
<% if( action == "boatday-message" ) { 
	var redirectTo = '#boatday-overview/' + boatdayId + '?show=message';
	if( boatdayIsPast ){
		redirectTo = '#boatday-overview/' + boatdayId + '?show=request';
	}
%>
	%>
	<div class="col-sm-12 col-xs-10"  style="cursor:pointer;" onClick="location.href='<%= redirectTo %>';">
		<div class="inner">
			<p>
				<a href="<%= redirectTo %>"><%= boatdayName %></a>.
			</p>
			<em style="color: #aaa;"><%= timeStr %></em>
		</div>
	</div>
<% } %>

<% if( action == "boatday-payment" ) {
	var redirectTo = '#boatday-overview/' + boatdayId + '?show=request';
%>
 %>
	<div class="col-sm-12 col-xs-10"  style="cursor:pointer;" onClick="location.href='<%= redirectTo %>';">
		<div class="inner">
			<p>
				You just received $<%= amount %> contributions for your BoatDay <a href="<%= redirectTo %>"><%= boatdayName %>?show=request</a>.
			</p>
			<em style="color: #aaa;"><%= timeStr %></em>
		</div>
	</div>
<% } %>
				
<% if( action == "boatday-request" ) { %>
	<div class="col-sm-12 col-xs-10"  style="cursor:pointer;" onClick="location.href='#boatday-overview/<%= boatdayId %>?show=request';">
		<div class="inner">
			<p>
				has requested <%= seats %> seat(s) on your BoatDay <a href="#boatday-overview/<%= boatdayId %>?show=request"><%= boatdayName %></a>.
			</p>
			<em style="color: #aaa;"><%= timeStr %></em>
		</div>
	</div>
<% } %>

<% if( action == "bd-message" ) { %>
	<div class="col-sm-12 col-xs-10">
		<div class="inner">
			<p>
				<%= message %>
			</p>
			<em style="color: #aaa;"><%= timeStr %></em>
		</div>
	</div>
<% } %>


	<div class="col-sm-4 col-xs-10" >
		<div class="inner text-center">
			<div class="action">
				<% if( action == "certification-approved" ) { %>
					<img src="resources/ico-certification.png" />
				 <% } %>

				<% if( action == "certification-denied" ) { %>
					<img src="resources/ico-certification.png" />
					<!-- <a href="#/my-account" class="btn btn-default btn-lg">My Account</a> -->
				<% } %>

				<% if( action == "host-approved" ) { %>
					<img src="resources/ico-host.png" />
				<% } %>
				
				<% if( action == "host-denied" ) { %>
					<img src="resources/ico-host.png" />
					<!-- <a href="#/my-account" class="btn btn-default btn-lg">My Account</a> -->
				<% } %>

				<% if( action == "boat-approved" ) { %>
					<img src="resources/ico-boat.png" />
				<% } %>
				
				<% if( action == "boat-denied" ) { %>
					<img src="resources/ico-boat.png" />
					<!-- <a href="" class="btn btn-default btn-lg" data-id="<%= boatId %>">Boat Profile</a> -->
				<% } %>

				<% if( action == "boatday-review" ) { %>
					<img src="resources/ico-stars-3.png" />
				<% } %>
				
				<% if( action == "boatday-message" ) { %>
					<img src="resources/ico-message.png" />
				<% } %>

				<% if( action == "boatday-payment" ) { %>
					<img src="resources/ico-payment.png" />
				<% } %>
				
				<% if( action == "boatday-request" ) { %>
				
					<% if( requestStatus == 'pending' ) { %>
						<button class="btn btn-default btn-lg open-notification accept approve-request pull-left" data-id="<%= requestId %>">
							<span class="hidden-sm">Accept</span>
							<span class="visible-sm glyphicon glyphicon-ok "></span>
						</button>
						<button class="btn btn-default btn-lg open-notification deny-request pull-right" data-id="<%= requestId %>">
							<span class="hidden-sm">Reject</span>
							<span class="visible-sm glyphicon glyphicon-remove "></span>
						</button>
					<% } %>

				<% } %>

				<% if( action == "bd-message" ) { %>
					<img src="resources/ico-info.png" />
				<% } %>
			</div>
			<div class="remove">
				<button class="btn btn-danger remove-notification">
					<span class="glyphicon glyphicon-trash"></span> Remove
				</button>
			</div>
		</div>
	</div>
	
</div>