<% if(Parse.User.current().get("status") == 'complete') { %>
	<div class="top-nav"></div>
<% } %>

<header>
	<h1 class="text-center">BoatDay - Sign Up</h1>
	<p class="text-center">Complete now and join BoatDay...</p>
	<div class="text-center steps">
		<img src="resources/signup-step-1.png" />
	</div>
</header>

<form class="form-horizontal">
	<div class="container">
		<div class="row ">
			<div class="col-left col-lg-8 col-lg-offset-4">
				<h4 class="text-right">
					<% if( status == 'creation' ) { %>
						My BoatDay Profile
					<% } else { %>
						Edit Profile
					<% } %>
				</h4>
			</div>
			<div class="col-right col-lg-8">
				<div class="form-group has-feedback">
					<label for="profilePicture" class="col-sm-24 control-label">
						Profile Picture
						<!-- <p><span class="glyphicon glyphicon-info-sign"></span>  It’s not much fun to boat with a landscape! Please upload a photo that clearly shows your face.  <a href="resources/profile-good.jpg" target="_blank">Good Example</a>, <a href="resources/profile-bad.jpg" target="_blank">Bad Example</a></p> -->
					</label>
					<div class="col-sm-24">
						<div class="col-sm-20 col-sm-offset-2 profilePicturePreview"></div>
						<button type="button" class="btn btn-block btn-default btn-upload" for="profilePicture">Upload file</button>
						<input type="file" class="upload" name="profilePicture"/>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="displayName" class="col-sm-24 control-label">User Name</label>
					<div class="col-sm-24">
						<input type="text" value="<%= displayName %>" class="form-control" id="displayName" name="displayName" placeholder="The name or nickname of your business" readonly>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="businessEin" class="col-sm-24 control-label">About Me</label>
					<div class="col-sm-24">
						<textarea rows="5" name="about" class="form-control" placeholder="BoatDay is built on relationships, help other people get to know you and your boating favorites!"><%= about %></textarea>
					</div>
				</div>
				<div class="form-group passwordComplexity">
					<div class="col-sm-24">
						<div class="alert alert-warning password" role="alert">
							<strong>You can do better!</strong> Try using letters and numbers, mix lower and uppercase. Maybe some special characters (e.g. @, #, $) too.
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-block btn-lg btn-primary">Sign me up!</button>
			</div>
		</div>
	</div>
</form>