<header>
	<h1 class="text-center">BoatDay - Sign Up</h1>
	<p class="text-center">Complete now and join BoatDay...</p>
	<div class="text-center steps">
		<img src="resources/signup-step-1.png" />
	</div>
</header>

<form class="form-horizontal">
	<div class="container">
		<div class="row ">
			<div class="col-left col-lg-8 col-lg-offset-4">
				<h4 class="text-right">My BoatDay Profile</h4>
			</div>
			<div class="col-right col-lg-8">
				<div class="form-group has-feedback">

					<input type="file" class="upload" name="profilePicture"/>

					<label for="profilePicture" class="col-sm-24 control-label">
						Add Profile Picture
					</label>
					<div class="col-sm-24 text-center">
						<!-- <p>
							It’s not much fun to boat with a landscape! Please upload a photo that clearly shows your face.
							<a href="resources/profile-good.jpg" target="_blank">Good Example</a>,
							<a href="resources/profile-bad.jpg" target="_blank">Bad Example</a>
						</p> -->
						<div class="picturePreview">
							<div class="picture"></div>
						</div>
						<button type="button" class="btn btn-default btn-upload" for="profilePicture">Change picture</button>

						<div class="add-picture btn-upload" for="profilePicture"></div>
					</div>
				</div>
				
				<% if( status == 'creation' ) { %>
					<div class="form-group has-feedback">
						<label for="displayName" class="col-sm-24 control-label">Display Name</label>
						<div class="col-sm-24">
							<p class="username"></p>
						</div>
					</div>
				<% } %>

				<div class="form-group has-feedback">
					<label for="businessEin" class="col-sm-24 control-label">About Me</label>
					<div class="col-sm-24">
						<textarea rows="5" name="about" class="form-control" placeholder="BoatDay is built on relationships, help BoatDay users get to know you and your boating favorites!"><%= about %></textarea>
					</div>
				</div>
				<div class="form-group passwordComplexity">
					<div class="col-sm-24">
						<div class="alert alert-warning password" role="alert">
							<strong>You can do better!</strong> Try using letters and numbers, mix lower and uppercase. Maybe some special characters (e.g. @, #, $) too.
						</div>
					</div>
				</div>
				<button type="submit" class="btn btn-block btn-lg btn-primary"><%= status == 'creation' ? 'Sign me up!' : 'Update my profile' %></button>
			</div>
		</div>
	</div>
</form>