<form class="form-horizontal"> 
	<div class="container"> 
		<div class="col-xs-12 col-md-10 col-lg-8 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-2">
			<div class="panel panel-primary">
				<div class="panel-heading area-business">
					<h3 class="panel-title text-center">Create your BoatDay profile...</h3>
				</div>

				<div class="panel-body area-business">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="displayName" class="col-sm-4 control-label">BoatDay User Name</label>
							<div class="col-sm-5">
								<input type="text" value="<%= displayName %>" class="form-control" id="displayName" name="displayName" placeholder="The name or nickname of your business" readonly>
							</div>
						</div>
						<div class="form-group">
							<label for="businessEin" class="col-sm-4 control-label">About Me</label>
							<div class="col-sm-5">
								<textarea rows="5" name="about" class="form-control" placeholder="BoatDay is built on relationships, help other people get to know you and your boating favorites!"><%= about %></textarea>
							</div>
						</div>
						<div class="form-group">
							<label for="profilePicture" class="col-sm-4 control-label">Profile Picture</label>
							<div class="col-sm-5">
								<div class="alert-info alert" stlye="margin:0px auto;">
									<span class="glyphicon glyphicon-info-sign"></span>  It’s not much fun to boat with a landscape! Please upload a photo that clearly shows your face. You can find an exemple of a <a href="">good picture</a> and a <a href="">bad picture</a>
								</div>
							</div>
							<div class="col-sm-5 col-sm-offset-4">
								<input type="file" class="form-control" name="profilePicture" style="color:transparent"/>
								<% if( profilePicture && status != 'creation') { %>
									<img class="previewProfilePicture" src="<%= profilePicture.url %>" style="max-width : 100%;" />
								<% } %>
							</div>
						</div>
					</div>
				</div> 

				<div class="panel-footer text-center">
					<% if( status == 'creation') { %>
						Your done! <button type="submit" class="btn btn-primary">Submit Registration profile</button> and add a boat!
					<% } else { %>
						<button type="submit" class="btn btn-primary">Update</button>
					<% } %>
				</div>
			</div>
		</div>
	</div>
</form>