<header>
	<h1 class="text-center">Report User</h1>
	<p class="text-center">
		Thank you for helping us keeping BoatDay a safe place.
	</p>
	<div class="text-center"><br/>
		<a href="#/dashboard" class="btn btn-default btn-lg">Back to Dashboard</a>
	</div>
</header>
<form class="form-horizontal">
	<div class="container">
		
		<div class="row">
			<div class="col-sm-10">
				<h4>Why would you like to report this user?</h4>
			</div>
			<div class="col-sm-offset-1 col-sm-10 col-md-8 col-lg-7">
				<div class="form-group">
					<label for="message" class="col-sm-24 control-label">Reason</label>
					<div class="col-sm-24">
						<textarea rows="15" name="message" id="message" class="form-control"></textarea>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-11 col-sm-10 col-md-8 col-lg-7">
				<button type="submit" class="btn btn-lg btn-block btn-primary">Send</button>
				<div class="display-messages text-center"></div>
			</div>
		</div>
	</div>
</form>