<form class="form-horizontal"> 
	<div class="container"> 
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Business information</h3>
			</div>
			<div class="panel-body">
				<div class="col-sm-8">
					<div class="form-group">
						<label for="business_name" class="col-sm-6 control-label">Business Name</label>
						<div class="col-sm-6">
							<input type="businessID" class="form-control" id="business_name" name="business_name" placeholder="Legal Business Name">
						</div>
					</div>
					<div class="form-group">
						<label for="business_ein" class="col-sm-6 control-label">Employer Identification Number</label>
						<div class="col-sm-6">
							<div class="input-group">
								<div class="input-group-addon"><strong>EIN</strong></div>
								<input type="businessID" class="form-control" id="business_ein" name="business_ein" placeholder="##-#######">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="address" class="col-sm-6 control-label">Address</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="address" placeholder="Enter your complete address">
							<input type="hidden" name="street" value="" />
							<input type="hidden" name="city" value="" />
							<input type="hidden" name="state" value="" />
							<input type="hidden" name="zipcode" value="" />
						</div>
					</div>
					<div class="form-group">
						<label for="address_number" class="col-sm-6 control-label">Apartment Number</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="address_number" name="address_number" placeholder="Apartment Number">
						</div>
					</div>
					<div class="form-group">
						<label for="country" class="col-sm-6 control-label">Country</label>
						<div class="col-sm-6">
							<select class="form-control disbled " id="country" name="country" readonly disabled >
								<option value="US">United States of America</option>
							</select>
				 		</div>
				 	</div>
					<div class="form-group">
						<label for="" class="col-sm-6 control-label">Business Contact</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="business_contact" name="business_contact" placeholder="Enter the person organizing of the events">
						</div>
					</div>
					<div class="form-group">
						<label for="phone" class="col-sm-6 control-label">Phone Number</label>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="phone" name="phone" placeholder="### ### ####">
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="alert-info alert">
						<span class="glyphicon glyphicon-info-sign"></span> bla bla
					</div>
				</div>
			</div> 

			<div class="panel-heading">
				<h3 class="panel-title text-center">Payment information</h3>
			</div>
			<div class="panel-body">
				<div class="col-sm-8">
					<div class="form-group">
						<label for="payment_method" class="col-sm-6 control-label">Payment method</label>
						<div class="col-sm-6">
							<select class="form-control" id="payment_method" name="payment_method">
								<option value="1">Direct deposit</option>
								<option value="2">Paypal</option>
								<option value="3">Venmo</option>
							</select>
						</div>
				 	</div>

				 	<div class="payment_method_1">
						<div class="form-group">
						   <label for="account_holder" class="col-sm-6 control-label">Account Holder</label>
						   <div class="col-sm-6">
							  <input type="text" class="form-control" id="account_holder" name="account_holder" placeholder="Account holder">
						   </div>
						</div>
						<div class="form-group">
						   <label for="account_number" class="col-sm-6 control-label">Account Number</label>
						   <div class="col-sm-6">
						 		<input type="text" class="form-control" id="account_number" name="account_number" placeholder="Account Number">
						   </div>
						</div>
						<div class="form-group">
							<label for="account_routing" class="col-sm-6 control-label">Routing Number</label>
							<div class="col-sm-6">
					 			 <input type="text" class="form-control" id="account_routing" name="account_routing" placeholder="Routing number">
					 		 </div>
						</div>
					</div>
					<div class="payment_method_2">
						<div class="form-group">
							<label for="paypal_email" class="col-sm-6 control-label">Paypal Email</label>
							<div class="col-sm-6">
								<input type="email" class="form-control" id="paypal_email" name="paypal_email" placeholder="Paypal Email">
							</div>
						</div>
					</div>
					<div class="payment_method_3">
						<div class="form-group">
							<label for="venmo_email" class="col-sm-6 control-label">Venmo Email</label>
							<div class="col-sm-6">
								<input type="email" class="form-control" id="venmo_email" name="venmo_email" placeholder="Venmo Email">
							</div>
						</div>
						<div class="form-group">
							<label for="venmo_phone" class="col-sm-6 control-label">Venmo Phone Number</label>
							<div class="col-sm-6">
								<input type="text" class="form-control" id="venmo_phone" name="venmo_phone" placeholder="Venmo Phone Number">
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-4 payment_method_1">
					<div class="alert-info alert">
						<span class="glyphicon glyphicon-info-sign"></span> account
					</div>
				</div>
				<div class="col-sm-4 payment_method_2">
					<div class="alert-info alert">
						<span class="glyphicon glyphicon-info-sign"></span> paypal
					</div>
				</div>
				<div class="col-sm-4 payment_method_3">
					<div class="alert-info alert">
						<span class="glyphicon glyphicon-info-sign"></span> You don't have to fill <strong>Venmo Email</strong> &amp; <strong>Venmo Phone Number</strong>. As a Venmo user, you have to fill the only one you use for your payments.
					</div>
				</div>
			</div>  

			<div class="panel-footer text-center">
				<button type="submit" class="btn btn-primary btn-lg">Register as a host</button>
			</div>
		</div>
	</div>
</form>