<header>
	<h1 class="text-center">BoatDay - Sign Up</h1>
	<p class="text-center">Complete now and join BoatDay...</p>
	<div class="text-center steps">
		<img src="resources/signup-step-1.png" />
	</div>
</header>
<form class="form-horizontal">
	<div class="container">
		<div class="row ">
			<div class="col-left col-lg-6 col-lg-offset-6">
				<h4 class="text-right">Lets create an account</h4>
			</div>
			<div class="col-right col-lg-8">
				<div class="form-group has-feedback">
					<label for="email" class="col-sm-24 control-label">Email</label>
					<div class="col-sm-24">
						<input type="email" class="form-control input-lg" id="email" name="email" placeholder="tell us how to reach you">
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="password" class="col-sm-24 control-label">Password</label>
					<div class="col-sm-24">
						<input type="password" class="form-control input-lg" id="password" name="password" placeholder="choose wisely">
						<div class="input-progress">
							<div class="bar"></div>
						</div>
					</div>
				</div>
				<div class="form-group passwordComplexity">
					<div class="col-sm-24">
						<div class="alert alert-warning password" role="alert">
							<strong>You can do better!</strong> Try using letters and numbers, mix lower and uppercase. Maybe some special characters (e.g. @, #, $) too.
						</div>
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="password" class="col-sm-24 control-label">Confirm Password</label>
					<div class="col-sm-24">
						<input type="password" class="form-control input-lg" id="passwordConfirm" name="passwordConfirm" placeholder="just to be sure">
					</div>
				</div>
			</div>
		</div>
		<div class="split col-lg-14 col-lg-offset-6"></div>
		<div class="row">
			<div class="col-left col-lg-12">
				<h4 class="text-right">What defines you better?</h4>
			</div>
			<div class="col-right col-lg-8">
				<p>
					<input type="radio" name="hostType" id="hostType1" value="personal" checked>
					<label class="radios" for="hostType1">I own a boat and want to host Guests on board.</label>
				</p>
				<p>
					<input type="radio" name="hostType" id="hostType2"value="business">
					<label class="radios" for="hostType2">I already use my boat(s) to carry paying Guests.</label>
				</p>
				<button type="submit" class="btn btn-block btn-lg btn-primary">Next: Terms &amp; Conditions</button>
			</div>
		</div>
	</div>
</form>