<form class="form-horizontal" >
	<div class="container"> 
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title text-center">Sign up</h3>
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label for="email" class="col-sm-4 control-label">Email</label>
					<div class="col-sm-4">
						<input type="email" class="form-control" id="email" name="email" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label for="password" class="col-sm-4 control-label">Password</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="password" name="password" placeholder="Choose a password">
					</div>
				</div>
				<div class="form-group">
					<label for="complexity" class="col-sm-4 control-label">Password Strength</label>
					<div class="col-sm-4">
						<div class="progress" style="margin:10px auto;">
							<div class="progress-bar progress-bar-success" role="progressbar" style="width:100%"> </div>
						</div>
						<div class="alert alert-success" role="alert" style="margin:0px auto;">This password is secure enough.</div>
					</div>
				</div>
				<div class="form-group">
					<label for="password_confirm" class="col-sm-4 control-label">Confirm Password</label>
					<div class="col-sm-4">
						<input type="password" class="form-control" id="password_confirm" name="password_confirm" placeholder="Retype your Password">
					</div>
				</div>
				<div class="form-group">
					<label for="account_type" class="col-xs-12 col-sm-4 control-label">Account Type</label>

					<div class="col-sm-4 text-center">
						<div class="btn-group" data-toggle="buttons">
							<label class="btn btn-default btn-lg account-type active">
								<input type="radio" name="account_type" value="personal" autocomplete="off" checked>
								<span class="glyphicon glyphicon-user"></span><br/>
								Personal<br/>
								<span style="font-size:0.7em">(I own a boat)</span>
							</label>
							<label class="btn btn-default btn-lg account-type">
								<input type="radio" name="account_type" value="business" autocomplete="off">
								<span class="glyphicon glyphicon-usd"></span><br/>
								Business<br/>
								<span style="font-size:0.7em">(I charter boats)</span>
							</label>
						</div>
					</div>
				</div>
			</div>  
			<div class="panel-footer text-center">
				<button type="submit" class="btn btn-primary btn-lg">Sign up</button>
			</div>
		</div>
	</div>
</form>