<header>
	<h1 class="text-center">BoatDay Sign Up</h1>
	<p class="text-center">Join the community...</p>
	<div class="text-center steps">
		<img src="resources/signup-step-2.png" />
	</div>
</header>
<form class="form-horizontal">
	<div class="container">
		<div class="row">
			<div class="col-sm-10">
				<h4>Terms and Conditions</h4>
			</div>
			<div class="col-sm-offset-1 col-sm-13 col-md-12 col-lg-10">
				<div class="tos"></div>
			</div>
		</div>

		<div class="split col-lg-16 col-lg-offset-4"></div>

		<div class="row">
			<div class="col-sm-offset-11 col-sm-13 col-md-12 col-lg-10">
				<p>
					<input type="checkbox" name="tos" id="tos"><label for="tos">I accept the BoatDay Terms and Conditions</label>
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-offset-11 col-sm-10 col-md-8 col-lg-7">
				<button type="submit" class="btn btn-block btn-lg btn-primary">Next: Account Information</button>
				<div class="display-messages text-center"></div>
			</div>
		</div>
	</div>
</form>