body {
	background: url(../resources/home/picture-1.jpg) center fixed no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	height:100%;
	background-color:white;
}


.view-home .content {
	background: white;
	border-radius: 15px;
	padding-bottom: 80px;
	margin-top : 120px;
	-webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.13);
}

.view-home .content .logo {
	width: 170px;
	position:relative;
	top: -60px;
}

.view-home .split-lines {
	height: 35px;
	margin: 25px;
	background: url(../resources/home-split.png) center center no-repeat;
}

.view-home h4 {
	margin-bottom: 30px;
}

.slider-selection {
	background: rgba(21, 167, 192, 0.30);
}

.slider-track {
	background: rgba(21, 167, 192, 0.15);
}

.slider-handle {
	background: #15a7c0;
	border: 1px solid white;
}

.picturePreview {
	width: 120px;
	height: 120px;
	border-radius: 60px;
	overflow: hidden;
	margin: 20px auto;
}

.picturePreview .picture {
	width: 100%;
	height: 100%;
	border-radius: 60px;
	background : center center no-repeat;
	background-size : cover;
}

.profilePicture {
	width: 80px;
	height: 80px;
	border-radius: 10000px;
	background : center center no-repeat;
	background-size : cover;

}

.checkboxes label,
.policy-cancellation label,
.policy-booking label {
	font-weight: normal;
	display: block;
}