
.slider-selection {
	background: rgba(21, 167, 192, 0.30);
}

.slider-track {
	background: rgba(21, 167, 192, 0.15);
}

.slider-handle {
	background: #15a7c0;
	border: 1px solid white;
}

.picturePreview {
	width: 120px;
	height: 120px;
	border-radius: 60px;
	overflow: hidden;
	margin: 20px auto;
}

.picturePreview .picture {
	width: 100%;
	height: 100%;
	border-radius: 600000px;
	background : center center no-repeat;
	background-size : cover;
}

.profilePicture {
	width: 80px;
	height: 80px;
	border-radius: 10000px;
	background : center center no-repeat;
	background-size : cover;

}

.checkboxes label,
.policy-cancellation label,
.policy-booking label {
	font-weight: normal;
	display: block;
}

#app {
	position:relative;
	z-index: 1;
}


[type="radio"]:not(:checked),
[type="radio"]:checked,
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
	position: absolute;
	left: -9999px;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label,
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 57px;
  cursor: pointer;
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before{
  content: '';
  position: absolute;
  left: 0;
  top: 0px;
  width: 38px;
  height: 38px;
  border: 2px solid @headings-color;
  border-radius: 38px;
}
 
/* Aspect général de la coche */
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 28px;
  height: 28px;
  background: @headings-color;
  border-radius: 38px;
  transition: all .2s; /* on prévoit une animation */
}

/* Aspect si "pas cochée" */
[type="radio"]:not(:checked) + label:after,
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

/* Aspect si "cochée" */
[type="radio"]:checked + label:after,
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

textarea.form-control { 
	padding: 10px;
}

.btn {
	border-width: @btn-border-width;
}

.btn-default {
  border-color: @btn-default-border;
  color: @btn-default-color;
  background-color: @btn-default-bg;
}

.btn-default:hover { 
  border-color: @btn-default-border;
  color: white;
  background-color: @btn-default-border;
}

.btn-lg {
    height: @input-height-large;
    padding: @padding-large-vertical @padding-large-horizontal;
    font-size: @font-size-base;
    line-height: 21px;
    border-radius: @border-radius-large;
}

.form-control {
	border-width: @input-border-width;
  height: 50px;
  padding: 19px 15px;
  font-size: @font-size-base;
  font-weight: 500;
}

select.form-control {
  -webkit-appearance: none;
  padding: 0px 15px;
}

.form-horizontal .control-label {
  text-align: left;
  font-weight: normal;
  font-size: 13px;
  font-weight: 500;
}

h4 { 
  font-size: 20px;
}


.navbar {
	border-width: 0px;
	border-bottom-width: 1px;
}


.navbar-nav > li > a {
	border-left : 1px solid @navbar-default-border;
	padding: 25px 30px;
	font-size: 14px;
	font-weight: 400;
}

.navbar a.navbar-brand {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 27px 0px;
}

.navbar-default .navbar-nav > li > a.my-account {
	color: @brand-primary;
	font-size: 15px;
}

.navbar-default .navbar-nav > li > a.sign-out {
	font-weight: 700;
	color: #546e7a;
}

.display-messages {
	margin-top: 15px;
}