
body.theme-account {
	background-color: white;
	padding-bottom: 50px;
}

body.theme-account:before {
	content: "";
	position: fixed;
	top:0px;
	left: 0px;
	width: 0px;
	bottom: 0px;
	background: @brand-primary-bg;

	@media (min-width: @screen-sm-min) {
		width: 50%;
	}
}

body.theme-account:after {

	content: "";
	top:0px;
	left: 50%;
	bottom: 0px;
	background: white;
	position: fixed;

	@media (min-width: @screen-xs-min) {
		width: 0px;
	}

	@media (min-width: @screen-sm-min) {
		margin-left: -1.5 * (@container-sm/24 * 1);
		width: 1.5 * (@container-sm/24 * 1);
	}

	@media (min-width: @screen-md-min) {
		margin-left: -1.5 * (@container-md/24 * 1);
		width: 1.5 * (@container-md/24 * 1);
	}

	@media (min-width: @screen-lg-min) {
		margin-left: -1.5 * (@container-lg/24 * 1);
		width: 1.5 * (@container-lg/24 * 1);
	}
}

body.theme-account h1 {
	font-family: museo;
}

body.theme-account h4,
body.theme-account h6 {
	@media (min-width: @screen-sm-min) {
		.text-right();
	}
}

body.theme-account header {
	background : white;
	border-bottom: 1px solid #edf1f3;
	padding: 73px 0px 55px 0px;
	margin-bottom: 90px;
}

body.theme-account header .steps {
	margin-top : 27px;
}

body.theme-account label {
	font-weight: normal
}

body.theme-account .split {
	border-bottom: 1px solid #edf1f3;
	padding-bottom: 56px;
	margin-bottom: 45px;
}

body.theme-account .btn-primary {
	margin-top : 40px;
}

body.theme-account .passwordComplexity {
  display: none;
}

body.theme-account .alert-warning.password {
  margin: 0px;
  padding : 0px;
}

body.theme-account .input-progress {
	position: relative;
	top: -8px;
	margin: 0px 4px;
	height: 4px;
}

body.theme-account .input-progress .bar {
	height: 4px;
	border-radius: 8px;
	width: 0px;
	background: @state-warning-text;
}

body.theme-account .tos {
	height: 300px;
	overflow: auto;
	padding: 5px;
	font-size: 0.8em;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 1px solid @input-border;
	position:relative;
	top: -1px;

	@media(min-width: @screen-sm-min) {
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
		border-top: 0px;
	}
}

body.theme-account .tos .text-item {
	padding-top : 15px;
}

body.theme-account .address-group *:first-child {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

body.theme-account .address-group *:last-child {
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;
}

body.theme-account .address-group [name="city"],
body.theme-account .address-group [name="zipCode"] {
	border-top: none;
	border-bottom: none;
	border-radius: 0px;
	float: left;
}

body.theme-account .address-group [name="city"] {
	border-right: none;
	width: 60%;
}

body.theme-account .address-group [name="zipCode"] {
	width: 40%;
}

body.theme-account input[type="file"] {
	width: 0px;
	height: 0px;
	overflow: hidden;
}

body.theme-account .picturePreview {
	width: 225px;
	height: 225px;
}

body.theme-account .username {
	font-size: 20px;
	font-weight: normal;
}

body.theme-account .about {
	margin-bottom: 40px;
}


body.theme-account .add-picture {
	border : 2px solid @headings-color;
	border-radius: 8px;
	height: 320px;
	background: url(../resources/add-picture.png) no-repeat center center;
	cursor: pointer;
}

body.theme-account .add-picture.field-error-flag {
	border-color: @state-warning-text;
	color: @state-warning-text;
	background-color: white;
}
/*
body.theme-account .add-picture.field-error-flag:hover {
	border-color: @state-warning-text;
	background-color: @state-warning-text;
}
*/